div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

#logo{
  margin-left: 60px;
  margin-top: 5px;
  float:left;
}

h1{
  flex: 1 1 70%;
  margin-top: 35px;
  margin-left:90px;
  float:left;
  color:#284B63;
  font-family: Tahoma;
  font-size: 36px;
}

h1 span{
  font-size: 24px;
}

app-user {
  flex: 1 1 20%;
}
