
h1{
  margin-top: 0.5%;
  margin-left:10rem;
  float:left;
  color:#053E6A;
  font-family: Tahoma;
}

#Account{
  margin-top:3%;
  margin-right: 2%;
  float: right;
  padding: 2px;
  width:5%;
}

#UserProfil{
  transform: scale(1.7);
  color: #494949;
  padding-right: 5%;

}

#UserName{
  font-family: Tahoma;
  color: #494949;
}


