<table class="patientField" cellspacing="0" ngModelGroup="pseudonyms">
  <tr *ngFor="let pseudonym of getInternalIds() ">
    <td>
      <div style="width: 100%; flex-flow: row">
        <button *ngIf="side!='none'" style=" margin-top:4%; border:none; background:none;" [ngStyle]="{float:side}" (click)="slideData(fields[pseudonym.idType], pseudonym.idString)">
          <mat-icon id="arrow">arrow_circle_{{side}}</mat-icon>
        </button>
        <mat-form-field class="inputField">
          <mat-label>{{pseudonym.idType}}</mat-label>
          <input style="width: 90%" matInput [readonly]="true" value=" {{pseudonym.idString}}">
          <button mat-icon-button *ngIf="readOnly" [cdkCopyToClipboard]="pseudonym.idString" matSuffix>
            <mat-icon id="copyIcon" [ngStyle]="{'color':'#888888', 'transform':'scale(0.8)'}">file_copy</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </td>
  </tr>
  <tr *ngIf="readOnly && this.getExternalIds().length > 0
  || !readOnly && this.getExternalIdTypes().length > 0">
    <td>
      <br>
      <h4>{{'patientPseudonyms.external' | translate}}</h4>
    </td>
  </tr>
  <!-- external id fields-->
  <tr>
    <td>
      <app-external-pseudonyms [readOnly]=this.readOnly [ids]="this.ids"></app-external-pseudonyms>
    </td>
  </tr>
</table>
