<table style="width: 100%; border-collapse: collapse;">
    <tr *ngFor="let field of fields">
      <td style="text-align: right; padding-right: 10px; border-right: 1px solid #ccc; white-space: nowrap;">
        <b>{{field.i18n | translate}}</b>
      </td>
      <td style="text-align: left; padding-left: 10px;">
        <span *ngIf="isDate(field.type)">
        {{patientFields[field.name] | date:'dd.MM.yyyy'}}
      </span>
      <span *ngIf="!isDate(field.type)">
        {{patientFields[field.name]}}
      </span>
      </td>
    </tr>
  </table>