 #merge {
  width: 2%;
   margin-left: 2%;
   margin-right: 0%;
   box-shadow: none;
 }

 #patients {
   width: 46% !important;
   margin-left: 0%;
   margin-right: 0%;
   box-shadow: none;
 }

 #matches {
   width: 46% !important;
   margin-left: 0%;
   margin-right: 2%;
   box-shadow: none;
 }

 mat-column-actions,
 mat-column-actions {
   width: 3% !important;
 }

 #matches td,
 #matches th,
 #patients td,
 #patients th {
   border: 1px solid #ddd;
   padding: 0 10px 0 10px;
 }

 #matches tr:nth-child(even),
 #patients tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 #matches tr:hover,
 #patients tr:hover {
   background-color: #ADDFFF;
 }

 #matches .mat-header-cell,
 #patients .mat-header-cell {
   background-color: #053E6A;
   color: white;
   font-size: inherit
 }

 #matches .mat-header-cell .mat-checkbox-frame,
 #patients .mat-header-cell .mat-checkbox-frame {
   border-color: white;
 }

 #matches .mat-header-cell .mat-checkbox-frame.mat-checkbox-indeterminate,
 #patients .mat-header-cell .mat-checkbox-frame.mat-checkbox-indeterminate {
   border-color: #053E6A;
 }