<h1 mat-dialog-title>{{ 'configuration.policy.create' | translate }}</h1>
<app-error-card [(messages)]="errorMessages"></app-error-card>
<form [formGroup]="policyForm">
<div mat-dialog-content>
    <mat-form-field appearance="outline" [ngStyle]="{'margin-bottom': displayError(policyForm.controls.code) ? '0.25em' : '-1.25em' }">
      <mat-label>{{ 'configuration.policy.policyCode' | translate }}</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="displayError(policyForm.controls.code)">
        {{ getFieldErrorMessage("policyCode", policyForm.controls.code.errors) }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'configuration.policy.policyText' | translate }}</mat-label>
      <input matInput formControlName="text">
      <mat-error *ngIf="displayError(policyForm.controls.text)">
        {{ getFieldErrorMessage("policyText", policyForm.controls.text.errors) }}
      </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close class="submitBreak">
    {{ 'button_cancel' | translate }}
  </button>
  <button mat-raised-button (click)="save()" cdkFocusInitial class="submit" [disabled]="!policyForm.valid || saving">
    {{ 'button_create' | translate }}
    <mat-icon *ngIf="saving"><mat-spinner diameter="20"></mat-spinner></mat-icon>
  </button>
</div>
</form>
