<VirtualHost *:443>
    ServerName {HOST}
    ServerAdmin webmaster@dein-domain-name.de

    # SSL-Konfiguration
    SSLEngine on
    SSLCertificateFile /etc/ssl/mainzelliste-ttp.cert
    SSLCertificateKeyFile /etc/ssl/mainzelliste-ttp.key
    # Uncomment if you have a chain-certificate or CA-Bundle
    # SSLCertificateChainFile /etc/ssl/mainzelliste-ttp-ca-bundle.crt

    #RewriteEngine on

    # Proxy-Konfiguration
    ProxyPreserveHost On
    ProxyPass /mainzelliste/ http://localhost:8080/
    ProxyPassReverse /mainzelliste/ http://localhost:8080/
    #RewriteRule ^/mainzelliste$ /mainzelliste/ [R]

    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto 'https' env=HTTPS
    RequestHeader set X-Forwarded-Port '443'
    ProxyPass /keycloak/ http://localhost:8082/keycloak/
    ProxyPassReverse /keycloak/ http://localhost:8082/keycloak/

    ProxyPass / http://localhost:4200/
    ProxyPassReverse / http://localhost:4200/

    # Optional: Logging
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
