<div style="height:100%; width:100%">

  <h1 class="titleicon">
    <mat-icon>merge_type</mat-icon>
    Patienten zusammenführen
  </h1>

<div  style="display: flex; flex-flow: row; justify-content: space-evenly;">

<!--PATIENTENDATEN1-->
<mat-card class="patientCard" style="width: 28%">
  <mat-card-title style="font-size: xx-large; margin-left: -15%">Patientendaten 1</mat-card-title>

  <div class="pseudonyme" style=" flex: 1 1 40%; display: flex; flex-flow:column; padding-top: 5%" >
    <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Pseudonyme</mat-card-title>
    <div style="flex-flow: row">
    <app-patient-pseudonyms style="width: 90%" [readOnly]=true [ids]="patients[0].ids" [permissionName]="'readPatients'" (slideFieldEvent)="updatePseudonymOfFinalPatient($event.name, $event.value)"></app-patient-pseudonyms>
  </div>
  </div>

  <div class="patientendaten"  style=" flex: 1 1 40%; display: flex;  flex-flow: column; padding-top: 5%">
    <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true  side="right" [fields]="patients[0].fields" (slideFieldEvent)="updateFieldsOfFinalPatient($event.name, $event.value)"></app-patient-fields></div>
</mat-card>

<!-- FINALER PATIENT -->
<mat-card style="width: 28%" class="MergeCard">
  <mat-card-title style="font-size: xx-large; color:black; margin-left: -15%">Finale Patientendaten</mat-card-title>

  <div class="pseudonyme" style=" flex: 1 1 40%; display: flex; flex-flow:column;; padding-top: 5%" >
    <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Pseudonyme</mat-card-title>
<!--  <div style="flex-flow: column; justify-content: flex-end ">-->
      <!-- WOHER SOLL DER FINALEPATIENT SEIN PSEUDONYM ERHALTEN? -->
      <app-patient-pseudonyms  [readOnly]=true [ids]="patients[0].ids" [permissionName]="'readPatients'"></app-patient-pseudonyms> <!-- [pseudonyms]="patients[0].ids"  [pseudonyms]="emptyPatient.ids"  [pseudonyms]="finalPatient.ids"-->
<!--   </div>-->
  </div>

  <div class="patientendaten"  style=" flex: 1 1 40%; display: flex;  flex-flow: column; padding-top: 5%">
    <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true [fields]="finalPatient.fields" ></app-patient-fields>
  </div>
</mat-card>

<!--PATIENTENDATEN2-->
  <mat-card class="patientCard" style="width: 28%">
    <mat-card-title style="font-size: xx-large; margin-left: -15%">Patientendaten 2</mat-card-title>

    <div class="pseudonyme" style=" flex: 1 1 100%; display: flex; flex-flow:column; padding-top: 5%" >
      <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Pseudonyme</mat-card-title>
      <!-- TODO: justify-content to flex-end & make pseudonym chooseable-->
        <div style="flex: 1 1 100%; display: flex; flex-flow: column; justify-content: flex-end; flow:right;">
          <app-patient-pseudonyms [readOnly]=true [ids]="patients[1].ids" [permissionName]="'readPatients'" (slideFieldEvent)="updatePseudonymOfFinalPatient($event.name, $event.value)"></app-patient-pseudonyms> <!-- style="width:160%;"-->
        </div>
    </div>

    <div class="patientendaten"  style=" flex: 1 1 80%; display: flex;  flex-flow: column;;  padding-top: 5%">
      <mat-card-title style="color:dimgray; font-size: x-large; margin-left: -15%">Patientendaten</mat-card-title>
      <app-patient-fields side="left" [readOnly]=true  [fields]="patients[1].fields" (slideFieldEvent)="updateFieldsOfFinalPatient($event.name, $event.value)"></app-patient-fields></div>
  </mat-card>

</div>
<button mat-raised-button [disabled]=true id="ergebnisButton" (click)="mergePatients()">Zusammenführen</button>
</div>
