<form>
  <table class="patientField" cellspacing="0">
    <tr *ngFor="let field of configuredFields | async">
      <td>
        <div style="width: 100%; flex-flow: row">
          <button id="arrow" *ngIf="side!='none'" [ngStyle]="{float:side}" (click)="slideData(fields[field.name], field.name)">
            <mat-icon>arrow_circle_{{side}}</mat-icon>
          </button>
          <mat-form-field style="width: 90%;" class="inputField" >
            <mat-label>{{field.name}}</mat-label>
            <input style="width: 90%; " [readonly]="readOnly" matInput (input)="fieldChanged()"
                   placeholder="{{field.hint}}" [(ngModel)]="fields[field.name]" [name]="field.name">
            <mat-icon id="copyIcon" *ngIf="readOnly" [ngStyle]="{'color':'#888888', 'transform':'scale(0.8)'}">file_copy</mat-icon>
          </mat-form-field>
        </div>
      </td>
    </tr>
  </table>
</form>
