<form class="example-form">
  <table class="example-table" cellspacing="0">
    <tr *ngFor="let field of configuredFields | async">
      <td>
       <div style="width: 100%">
         <mat-form-field class="example-full-width"  >
          <mat-label>{{field.name}}</mat-label>
          <input style="width: 95%" [readonly]="readOnly" matInput (input)="fieldChanged()" placeholder="{{field.hint}}" [(ngModel)]="fields[field.name]" [name]="field.name">
           <mat-icon [ngStyle]="{'color':'#888888'}">file_copy</mat-icon></mat-form-field>
        </div>
      </td>
    </tr>
  </table>
</form>
<!--[(ngModel)]="patient.fields[field]"-->
<!--[(ngModel)]="tmpPatient.fields[field]"-->
