<mat-toolbar-row style="width: 100%; height: 100%; color: white">
  <span class="foot-content">German Cancer Research Center (DKFZ)<br>
        Foundation under Public Law<br>
        Im Neuenheimer Feld 280<br>
        69120 Heidelberg<br>
        Germany</span>
  <span class="foot-content2">Powered by Team <br>Federated Information Systems <br>from DKFZ Heidelberg</span>
  <span class="foot-content2">Impressum <br> Datenschutz<br>Version 1.0<br>&copy; 2021 Mainzelliste </span>

  <img id="magicLogo" style="float:right" [src]="magicLogo" alt="" width="120" height="120"/>
  <img id="dkfzLogo" style="float:right" [src]="dkfzLogo" alt="" width="200" height="150"/>
</mat-toolbar-row>



