<div style="width: 100%; color: #294E66; font-size: 13px; align-items: center; display: flex; align-content: center;
padding-top: 7px; padding-bottom: 7px; flex-flow: column;">
      <span>
        Version 1.10 &copy; 2021 Mainzelliste - Powered by Team Federated Information Systems from DKFZ Heidelberg
      </span>
<div style="display: flex; flex-flow: row; justify-content: flex-end; align-self: flex-end; gap: 30px; padding-right: 30px;">
  <img id="dkfzLogo" [src]="dkfzLogo" alt="" height="80px"/>
  <img id="magicLogo" [src]="magicLogo" alt="" height="80px"/>
</div>
</div>

