<div style="width: 100%;">
  <div style="flex-flow: row; padding-top: 2%; justify-content: flex-end">
    <div style="display: flex;  flex-flow: column; align-items: center; color: #294E66">
      <p>
        Powered by Team Federated Information Systems from DKFZ Heidelberg
      </p>
      <p>Version 1.10 &copy; 2021 Mainzelliste</p>
    </div>
    <div style="flex-flow: row; justify-content: flex-end; padding-bottom: 8%; padding-right: 3%">
      <img id="dkfzLogo" style="float:right; margin-left: 2%" [src]="dkfzLogo" alt="" width="8%" height="32%"/>
      <img id="magicLogo" style="float:right" [src]="magicLogo" alt="" width="6%" height="33%"/>
    </div>
  </div>
</div>

