<div ngModelGroup="idGeneratorDetail">
  <!-- idGenerator-->
  <mat-form-field class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(idType) ? '0.25em' : '-1.25em' }">
    <mat-label>{{'configuration.idGenerator.idGenerator' | translate}}</mat-label>
    <mat-select [(ngModel)]="this.dataModel.idGenerator"
                (selectionChange)="this.idGeneratorSelected($event.value)"
                [name]="'idGenerator'" required="true">
      <mat-option *ngFor="let idGenerator of Object.keys(IDGeneratorType)" [value]="idGenerator">
        {{idGenerator}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Name-->
  <mat-form-field class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(idType) ? '0.25em' : '-1.25em' }">
    <mat-label>{{'configuration.idGenerator.idType' | translate}}</mat-label>
    <input style="width: 45%;" matInput placeholder=""
           [(ngModel)]="this.dataModel.idType" [name]="'idType'" #idType="ngModel" required="true">
    <mat-error *ngIf="displayError(idType)">
      {{ getFieldErrorMessage("title", idType.errors) }}
    </mat-error>
  </mat-form-field>

  <!-- CryptoIDGenerator Parameters -->
  <ng-container [ngSwitch]="this.dataModel.idGenerator">
    <ng-container *ngSwitchCase="IDGeneratorType.CryptoIDGenerator">
      <mat-form-field  class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(baseIdType) ? '0.25em' : '-1.25em' }">
        <mat-label>baseIdType</mat-label>
        <mat-select [(ngModel)]="$any(this.dataModel.parameters).baseIdType"
                    [name]="'baseIdType'" #baseIdType="ngModel"
                    required="true">
          <mat-option *ngFor="let idType of this.getBaseIdTypes()" [value]="idType">
            {{idType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
    <!-- PIDGenerator Parameters -->
    <ng-container *ngSwitchCase="IDGeneratorType.PIDGenerator">
      <mat-form-field class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(k1) ? '0.25em' : '-1.25em' }">
        <mat-label>K1</mat-label>
        <input type="number" min="1" matInput placeholder=""
               [(ngModel)]="$any(this.dataModel.parameters).k1" [name]="'k1'" #k1="ngModel" required="true">
        <mat-error *ngIf="displayError(idType)">
          {{ getFieldErrorMessage("k1", idType.errors) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(k2) ? '0.25em' : '-1.25em' }">
        <mat-label>k2</mat-label>
        <input type="number" min="1" matInput placeholder=""
               [(ngModel)]="$any(this.dataModel.parameters).k2" [name]="'k2'" #k2="ngModel" required="true">
        <mat-error *ngIf="displayError(idType)">
          {{ getFieldErrorMessage("k2", idType.errors) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="idGeneratorInputField" [ngStyle]="{'margin-bottom': displayError(k3) ? '0.25em' : '-1.25em' }">
        <mat-label>k3</mat-label>
        <input type="number" min="1" matInput placeholder=""
               [(ngModel)]="$any(this.dataModel.parameters).k3" [name]="'k3'" #k3="ngModel" required="true">
        <mat-error *ngIf="displayError(idType)">
          {{ getFieldErrorMessage("k3", idType.errors) }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="idGeneratorInputField">
        <mat-label>rndwidth</mat-label>
        <input type="number" min="0" matInput placeholder=""
               [(ngModel)]="$any(this.dataModel.parameters).rndwidth" [name]="'rndwidth'" #rndwidth="ngModel" required="true">
        <mat-error *ngIf="displayError(idType)">
          {{ getFieldErrorMessage("rndwidth", idType.errors) }}
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container *ngSwitchDefault></ng-container>
  </ng-container>
</div>
