<div style="width: 100%; height: 100%">

  <h1 class="titleicon">
    <mat-icon style="transform: scale(1.6); margin-right: 0.5em;">delete_outline</mat-icon>
    Patienten löschen
  </h1>
  <br>

  <div style="height: 90%; display:flex; flex-flow: column">
    <div style="display: flex; flex-flow: row; height: 100%">
      <div style=" flex: 1 1 80%; display: flex; flex-flow: row; justify-content: space-around; align-items: stretch; background:none; justify-content: space-around; gap: 0 30px">
        <mat-card id="deletePatient1" *ngFor="let patient of patients" style=" flex: 1 1 65%; display: flex; flex-flow: column; justify-content: space-around; align-items: stretch;column-gap: 30px;">
          <mat-card-title style="color: white; font-size: xx-large">Patient</mat-card-title>
          <div id="patientendaten1"  style="background-color: #f2f2f2; flex: 1 1 40%; display: flex;  flex-flow: column">
            <mat-card-title style="font-size: x-large">Patientendaten</mat-card-title>
            <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields>
          </div>
          <div id="pseudonyme1" style="background-color: #f2f2f2; flex: 1 1 40%; display: flex; flex-flow:column" >
            <mat-card-title>Pseudonyme</mat-card-title>
            <app-patient-pseudonyms [readOnly]=true [pseudonyms]="patient.ids"></app-patient-pseudonyms>
          </div>
          <div id="historie1" style="background-color: #f2f2f2; flex: 1 1 40%; display: flex; flex-flow:column">
            <mat-card-title>Historie</mat-card-title>
            <mat-form-field class="historieInput" >
              <mat-label>Historie des Patienten</mat-label>
              <input disabled="disabled" style="height: 200px" matInput placeholder="Historie des Patienten">
            </mat-form-field>

          </div>
        </mat-card>
      </div>

      <!-- Fragestellung-->
      <div style="flex: 1 1 30%; display: flex; flex-flow: column;background-color: white">
        <h3 class="DeletePatientFragestellung"> Möchten Sie die folgenden Patienten löschen? <br>Die Patientendaten werden vollständig gelöscht und können nicht wiederhergestellt werden.</h3>
        <div style="display: flex; flex-flow: row; justify-content: space-around; gap: 0 15px">
          <button mat-raised-button type="submit" class="DeletePatientButtonAbbruch"
                  [routerLink]="['/patientenliste']">
            Abbruch
          </button>
          <button mat-raised-button type="submit" (click)="deletePatientenZeile()" class="DeletePatientButtonLöschen"
                  [routerLink]="['/patientenliste']">Löschen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
