#policySets {
    margin: 2em 2.5%;
    width: 95%;
  }
  
  .policy-row:hover {
    background-color: #dddddd;
  }
  
  .disabled {
    color: rgb(161, 159, 159);
  }
  
  mat-paginator {
    float: right;
    margin-right: 1.5%;
    background-color: transparent;
  }
  
  .mat-basic-chip-status {
    display: inline-flex;
    padding: 7px 10px;
    border-radius: 6px;
    align-items: center;
    min-height: 22px;
    height: 1px;
    background-color: #e0e0e0;
    color: #000000de;
    box-sizing: border-box;
    min-width: 100px;
    justify-content: center;
  }
  
  .mat-basic-chip-status#active {
    background-color: #cdfbd4;
  }
  
  .mat-basic-chip-status#draft {
    background-color: #fdf6d2;
  }
  
  .mat-column-policySetId,
  .mat-column-policySetExternalId,
  .mat-column-policySetName,
  .mat-column-policyId,
  .mat-column-policyName {
    width: 25%;
    text-align: left;
  }
  
  .mat-column-expand {
    width: 25%;
    text-align: right;
  }