#policySets {
  width: 100%;
}

mat-paginator{
  float: right;
  margin-top: 1.5%;
  background-color: transparent;
}

.mat-column-policySetId,
.mat-column-policySetExternalId,
.mat-column-policySetName,
.mat-column-policyId,
.mat-column-policyName {
  width: 30%;
  text-align: left;
}

.mat-column-actions {
  width: 10%;
  text-align: right;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.add-policy-set-button {
  background-color: #053E6A;
  color: white;
}
