h2{
  font-family: Arial;
  font-size: 35px;
  margin-left: 5%;
}

h1{
  font-family: Arial;
  font-size: 40px;
}

.titleicon{
  font-size: 28px;
  font-family: Arial;
  font-size: 40px;
  margin-left: 1%;
}

#patientendaten{
  width: 30%;
  height: 40%;
  background-color: #f2f2f2;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #888888;
  left: 0%;
  position:absolute;
  margin-left:1%;
}

#pseudonyme{
  width: 30%;
  height: 40%;
  background-color: #f2f2f2;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #888888;
  top: 6.5%;
  left: 35%;
  position:absolute;
  margin-left:1%;
}

#historie{
  width: 85%;
  height: 35%;
  background-color: #f2f2f2;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #888888;
  top: 50%;
  left: 0px;
  position:absolute;
  margin-left:1%;
}

.IDCardAnsichtButton {
  background-color: #3895D3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 15px;
  position: absolute;
  left: 75%;
  font-size: 20px;

}

