<form #patientForm="ngForm">
<div style="width: 100%; height: 100%">
  <div style=" background:none; margin-top:0.5%; flex: 1 1 70%; display: flex; flex-flow: row; justify-content: space-around; align-items: stretch; justify-content: space-around; gap: 0 1%">
    <mat-card id="patientendaten" style="; flex: 1 1 25%; display: flex;  flex-flow: column">
      <mat-card-title>Patientendaten</mat-card-title>
      <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields>
    </mat-card>

    <mat-card id="pseudonyme" style="flex: 1 1 25%; display: flex;  flex-flow: column">
      <mat-card-title>Pseudonyme</mat-card-title>
      <app-patient-pseudonyms [readOnly]=true [ids]="patient.ids"></app-patient-pseudonyms>
    </mat-card>

    <section style="display: flex; flex: 1 1 1%; margin-left:2%; flex-flow: column;">
<!--      <button mat-fab style="background-color:#053E6A; color:white; margin-bottom: 15px;" aria-label="Example icon button with a delete icon">-->
<!--        <mat-icon matTooltip="Drucken">print</mat-icon>-->
<!--      </button>-->
<!--      <br><br>-->
<!--      <button mat-fab style="background-color:#053E6A; color:white; margin-bottom: 15px;" aria-label="Example icon button with a delete icon">-->
<!--        <mat-icon matTooltip="ID hinzufügen">subtitles</mat-icon>-->
<!--      </button>-->
      <br><br>
      <button mat-fab [routerLink]="['/edit-patient', idType, idString]"
              [state]="{patient: patient}" style="background-color:#ffd60a; color:white; margin-bottom: 15px;" aria-label="Example icon button with a delete icon">
        <mat-icon matTooltip="Edit">edit</mat-icon>
      </button>
      <br><br>
      <button mat-fab [routerLink]="['/delete-patient', idType, idString]"
              [state]="{patient: patient}" style="background-color:#da1e37; color:white; margin-bottom: 15px" aria-label="Example icon button with a delete icon">
        <mat-icon matTooltip="Löschen">delete</mat-icon>
      </button>
      <br><br>
      <button *ngIf="this.consentService.isServiceEnabled()" mat-fab (click)="openConsentDialog()"
              style="background-color:#053E6A; color:white;">
        <mat-icon matTooltip="Einwilligung hinzufügen">assignment_turned_in</mat-icon>
      </button>
    </section>
  </div>
  <mat-card *ngIf="this.consentService.isServiceEnabled()" id="consents">
    <mat-card-title style="float: left; margin-left: 2.5%;">Einwilligungen</mat-card-title>
      <table #consentTable mat-table [dataSource]="consents" class="mat-elevation-z8">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Erstellt </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Vorlage </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="period">
          <th mat-header-cell *matHeaderCellDef> Gültigkeitszeitraum </th>
          <td mat-cell *matCellDef="let element"> {{element.period}} </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"> {{element.version}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"
              style="padding: 0;">
            <mat-progress-bar *ngIf="loadingConsents" mode="indeterminate"></mat-progress-bar>
          </th>
          <td mat-cell></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedConsentColumns"></tr>
        <tr mat-row class="consent-row" (click)="editConsent(row)" *matRowDef="let row; columns: displayedConsentColumns;"></tr>
        <tr mat-header-row  style="height: 0; border: 0;" *matHeaderRowDef="['progress']"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td *ngIf="!loadingConsents" class="mat-cell" [attr.colspan]="4" style="text-align: center">
            Keine Einwilligung.
          </td>
        </tr>
      </table>
  </mat-card>
</div>
</form>
