h2{
  font-family: Verdana;
  font-size: 35px;
  margin-left: 5%;
  margin-top:20px;
  font-weight: bold;
}

h1{
  margin-top: 10px;
  font-family: Arial;
  font-size: 40px;
  font-weight: bold;
}

.titleicon{
  font-size: 28px;
  font-family: Arial;
  font-size: 40px;
  margin-left: 1%;
  font-weight: bold;
}

#patientendaten{
  width: 30%;
  height: 39%;
  background-color: #f1f1f1;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #cccccc;
  left: 0%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#pseudonyme{
  width: 30%;
  height: 40%;
  background-color: #f1f1f1;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #cccccc;
  top: 7.5%;
  left: 35%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#historie{
  width: 85%;
  height: 34%;
  background-color: #f1f1f1;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #cccccc;
  top: 50%;
  left: 0px;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.IDCardAnsichtButton {
  background-color: #3895D3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  position: absolute;
  left: 75%;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 11%;

}

#pDaten{
  font-size: 24px;
  line-height: 120%;
  margin-left: 5%;
  margin-top: 4%;
}

#pPseudonyme{
  font-size: 24px;
  line-height: 120%;
  margin-left: 5%;
  margin-top: 4%;
}
