
<body>
<br>
<span class="titleicon"><ion-icon name="id-card"></ion-icon>  ID Card </span><br><br><br>

<div id="patientendaten">
  <h2>Patientendaten</h2>
  <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields> <!--*ngFor="let fields of patient">{{fields}}: {{patient.fields[fields]}}-->
  <!--  <div id ="pDaten" *ngFor="let field of fields" class="patientendatenzeile">{{field}}: {{patient.fields[field]}}</div>-->
</div>


<div id="pseudonyme">
  <h2>Pseudonyme</h2>
 <app-patient-pseudonyms [readOnly]=true></app-patient-pseudonyms>
</div>

<div>
  <button type="submit" class="IDCardAnsichtButton">Drucken</button>
  <br><br><br><br><br>
  <button type="submit" class="IDCardAnsichtButton">Projektpseudonym erstellen</button>
  <br><br><br><br><br>
  <button type="submit" class="IDCardAnsichtButton" [routerLink]="['/edit-patient']" [state]="{patient: patient, fields: fields}">Editieren</button>
  <br><br><br><br><br>
  <button type="submit" class="IDCardAnsichtButton" [routerLink]="['/merge-patients']">Zusammenführen</button>
  <br><br><br><br><br>
  <button type="submit" class="IDCardAnsichtButton" [routerLink]="['/delete-patient']" [state]="{patient: patient, fields: fields}" >Löschen</button>
  <br><br><br><br><br>
</div>
<div id="historie">
  <h2>Historie</h2>
</div>
</body>
