<div *ngIf="!edit && !readOnly">
  <h4>{{'consentDetail.select_consent_template' | translate}}</h4>
  <div>
    <mat-form-field style="width: 400px">
      <mat-label>{{'consentDetail.consent_template' | translate}}</mat-label>
      <mat-select #templateSelection
                  (selectionChange)="initDataModel($event)"
                  [value]="this.getCurrentTemplateId()" required>
        <mat-option *ngFor="let consentTemplate of templates | keyvalue "
                    [value]="consentTemplate.key">{{consentTemplate.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-divider *ngIf="consent && !edit && !readOnly" style="margin-bottom: 1.34375em"></mat-divider>
<mat-card *ngIf="consent">
  <h2 style="text-align: center">{{consent.title | uppercase}}</h2>
  <div *ngFor="let item of consent.items; index as i">
    <div [ngSwitch]="getTypeOf(item)">
      <div class="form-group">
        <div *ngSwitchCase="'ConsentDisplayItem'" [innerHTML]="item.text"></div>
        <div style="padding-bottom: 10px" *ngSwitchCase="'ConsentChoiceItem'">
          <mat-card>
            <div style="margin-bottom: 10px;" [innerHTML]="item.text"></div>
            <mat-radio-group [(ngModel)]="toChoiceItem(item).answer"
                             aria-label="Select an option" id="question-{{i}}"
                             name="question-{{i}}"
                             style ="display:flex; gap:40px"
                             [disabled]="readOnly"
            color="primary">
              <mat-radio-button value="permit">{{'radio_button_yes' | translate}}</mat-radio-button>
              <mat-radio-button value="deny">{{'radio_button_no' | translate}}</mat-radio-button>
            </mat-radio-group>
          </mat-card>
        </div>
        <div *ngSwitchDefault></div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label>{{'consentDetail.valid_from' | translate}}</label>
    <mat-form-field appearance="fill" style="width: 150px; margin: 0 7px 0 7px">
      <mat-label>{{'consentDetail.validity_date_label' | translate}}</mat-label>
      <input matInput
             [matDatepicker]="picker"
             placeholder="{{localDateFormat}}"
             [appInvalidConsentPeriod]="this.consent.period"
             [(ngModel)]="this.consent.validFrom"
             name="date"
             #date="ngModel"
             [disabled]="readOnly"
      >
      <mat-datepicker-toggle *ngIf="!readOnly" matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="readOnly"></mat-datepicker>
      <mat-error>{{'error.consentDetail.validity_date' | translate}}</mat-error>
    </mat-form-field>
    <label><strong>{{getConsentExpiration()}}</strong></label>
  </div>
</mat-card>
<br>
<ng-container *appHasAnyPermissions="[Permission.ADD_CONSENT_SCANS, Permission.READ_CONSENT_SCANS]">
  <h4 *ngIf="consent && (!readOnly || this.consentScans.size > 0)">{{'consentDetail.scans' | translate}}</h4>
</ng-container>
<!-- upload and list scanned documents -->
<ng-container *ngIf="consent && !readOnly">
  <div class="form-group" *appHasPermission="Permission.ADD_CONSENT_SCANS">
    <mat-chip-list style="margin-bottom: 13px" *ngFor="let file of this.consent.scanUrls | keyvalue">
      <mat-chip style=" margin-bottom: 13px">
        <mat-icon style="height: 18px; width: 18px; font-size: 18px; margin-right: 6px;">picture_as_pdf</mat-icon>
        {{file.key}}
        <button matChipRemove *ngIf="!readOnly">
          <mat-icon (click)="this.deleteUploadedScan(file.key)">delete</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <input type="file"  accept="application/pdf" style="display: none" (change)="onScansSelected($event)" #fileUploader>
    <div style="width: 150px; display: flex; justify-content: space-between;
          align-items: center; margin-bottom: 13px;" *ngIf="this.uploadInProgress">
      <section style="display: flex; align-content: center; align-items: center;">
        <mat-progress-bar style="width: 140px; height: 20px"
                          [mode]="'determinate'"
                          [value]="this.uploadProgress">
        </mat-progress-bar>
        <div style="position: absolute; padding: 10px; color: white;"> {{this.uploadProgress}}% </div>
        <button mat-icon-button>
          <mat-icon (click)="cancelUploadScan()">delete_forever</mat-icon>
        </button>
      </section>
    </div>
    <button mat-raised-button (click)="fileUploader.click()" style="margin-top: 5px">
      <mat-icon>note_add</mat-icon>
      {{'button_add_consent_scan' | translate }}
    </button>
  </div>
  <br>
</ng-container>

<!-- list scanned documents -->
<ng-container *ngIf="consent && readOnly">
  <div class="form-group" *appHasPermission="Permission.READ_CONSENT_SCANS">
    <mat-chip-list style="margin-bottom: 13px" *ngFor="let file of this.consentScans | keyvalue">
      <mat-chip style=" margin-bottom: 13px">
        <mat-icon style="height: 18px; width: 18px; font-size: 18px; margin-right: 6px;">picture_as_pdf</mat-icon>
        {{file.key}}
        <button matChipRemove #downloadbuttom>
          <mat-icon (click)="this.downloadScan(file.key)">download</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
  <br>
</ng-container>
