
h2{
  font-size: 20px;
  color:black;
  font-family: Arial;
}

.header{
  height:25%;
  padding: 15px;
  background-color: #284B63;
  border-width: thick;
  font-family: Arial;
  font-size: 20px;
  color: white;
  font-size: 25px;
  width: 100%;

}


#closeicon{
  font-size: 30px;
  float: right;
  margin-right: 0.5%;
  border: none;
  background: none;
  color:white;
  margin-bottom: 0.5%;
}

.filterDiv{
  background-color: #f1f1f1;
  border: solid white 0.5px;
  padding: 1%;
  padding-bottom: 3%;
}

.sortierenDiv{
  background-color: #f1f1f1;
  border: solid white 0.5px;
  padding: 1%;
  padding-bottom: 3%;
}
.aufsteigendButton{
    width: 40%;
    border: none;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 8%;
    margin-bottom: 1%;
    border-radius: 15px;
  background-color: #ADDFFF;
  color: white;
}

.absteigendButton{
  width: 40%;
  border: none;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-left: 8%;
  margin-bottom: 1%;
  border-radius: 15px;
  background-color: #ADDFFF;
  color: white;
}
#buttonicon1{
  float: right;
  margin-left: 5px;
  margin-top: 7px;
  font-size: 25px;
}
#buttonicon2{
  float: right;
  margin-left: 5px;
  margin-top: 7px;
  font-size: 25px;
}

