<div id="filterfenster">
  <div class="header"> {{title}}
    <mat-icon id="closeicon" (click)="closeFilter()">cancel</mat-icon>
  </div>

  <div style="width:100%; padding:2%; background-color: #E6B0AA; color: white">
    <mat-icon style="padding-right: 1.5%">hourglass_bottom</mat-icon> Component in Progress.. <!--font-size: 30px;-->
  </div>

  <div class="sortierenDiv">
    <h2>Sortieren</h2>
    <button mat-raised-button class="aufsteigendButton">
      <mat-icon id="buttonicon1">swap_vert</mat-icon>
      Aufsteigend
    </button>
    <button mat-raised-button class="absteigendButton">
      <mat-icon id="buttonicon2">swap_vert</mat-icon>
      Absteigend
    </button>
  </div>

  <div class="filterDiv">
    <h2>Filter</h2>

    <div style="flex-flow: row; justify-content: space-evenly">

      <mat-form-field style="width: 47%; margin-right: 2%" appearance="outline">
        <mat-label>Textfilter auswählen</mat-label>
        <mat-select>
          <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
            {{filterOption}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 47%; margin-left: 2%" appearance="outline">
        <mat-label>Zeitraum auswählen</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field class="example-full-width" style="width: 98%" appearance="outline">
      <mat-label>Suche Patient</mat-label>
      <input matInput placeholder="Suche nach Patient..">
    </mat-form-field>

    <br>
<div style="flex-flow: column;"> <!--font-size: 15px; -->
    <mat-checkbox style="transform: scale(1)!important;margin: 10px;" class="example-margin"></mat-checkbox><br>
    <mat-checkbox  style="transform: scale(1)!important;margin: 10px;" class="example-margin"></mat-checkbox><br>
    <mat-checkbox  style="transform: scale(1)!important;margin: 10px;" class="example-margin"></mat-checkbox>
</div>
  </div>
</div>
