<div style="height:100%;width:100%; padding-left:5%; padding-top:3%">

  <h1 class="title"> {{title}}</h1>

  <h3>Folgendem Patienten eine Einwilligung hinzufügen</h3>
  <br/>
  <!--<h4>Name</h4>
    <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields>
    <h4>Pseudonyme</h4>-->
    <app-patient-pseudonyms [readOnly]=false [pseudonyms]="patient.ids"></app-patient-pseudonyms>
<br/><br/> <hr>
  <br/><br/>
  <h3>Angaben zur Einwilligung</h3><br/>
  <div style="margin-bottom: 15%;width: 50%">
    <h4>* Status</h4>
    <mat-form-field appearance="fill" style="width:75%">
      <mat-label>Status wählen</mat-label>
      <mat-select >
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>

    </mat-form-field>
    <br/><br/><br/>
    <h4>* Datum wählen</h4>
    <mat-form-field appearance="fill" style="width:75%">
      <mat-label>DD/MM/YYYY</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/><br/><br/>
    <h4>* Provisions</h4>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Ja</mat-radio-button> <br/><br/>
      <mat-radio-button value="2" checked="true">Nein</mat-radio-button>
    </mat-radio-group>
    <br/><br/><br/>
    <h5>* Diese Felder müssen ausgefüllt werden.</h5>
    <br/><br/><br/>
    <button mat-raised-button class="submit" style=" right:8%; width: 25%; float:right">Consent hinzufügen</button>
  </div>
</div>

