div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileButton {
  font-size: 18px;
  font-weight: normal;
}

.domain-name {
  color: #494949;
  font-size: 16px;
}

.menu-item {
  color: #494949;
  font-family: Tahoma;
  font-size: 16px;
}
