<div style="width: 100%; color: #294E66; font-size: 13px; align-items: center; display: flex; align-content: center;
padding-top: 7px; padding-bottom: 7px; flex-flow: column;">
      <span>
        {{'footer.version' | translate}}{{version}} &copy;{{startYear}}{{year}}{{'footer.info' | translate}}
      </span>
<div style="display: flex;  align-items: baseline; flex-flow: row; justify-content: flex-end; align-self: flex-end; gap: 30px; padding-right: 30px; padding-top: 20px;">
  <img id="ummLogo" style="height: 60px" [src]="ummLogo" alt="UMM Logo"/>
  <img id="medmaLogo" style="height: 62px" [src]="medmaLogo" alt="Logo von der Medizinische Fakultät Mannheim der Universität Heidelberg"/>
  <img id="dkfzLogo" style="height: 60px" [src]="dkfzLogo" alt="DKFZ Logo" height="100px"/>
</div>
</div>

