<div style="width: 100%; color: #294E66; font-size: 13px; align-items: center; display: flex; align-content: center;
padding-top: 7px; padding-bottom: 7px; flex-flow: column;">
  <span>
    {{'footer.version' | translate}}{{version}} &copy;{{startYear}}{{year}} {{'footer.info' | translate}}
  </span>
  <div class="footerLogos" [ngStyle]="{'padding-top': logos.length > 0 ? '20px':'2px'}">
    <ng-container *ngFor="let logo of logos" [ngSwitch]="logo.id">
      <img *ngSwitchCase="'ummLogo'" id="ummLogo" style="height: 60px" [src]="ummLogo" alt="UMM Logo"/>
      <img *ngSwitchCase="'medmaLogo'" id="medmaLogo" style="height: 62px" [src]="medmaLogo" alt="Logo von der Medizinische Fakultät Mannheim der Universität Heidelberg"/>
      <img *ngSwitchCase="'dkfzLogo'" id="dkfzLogo" style="height: 60px" [src]="dkfzLogo" alt="DKFZ Logo" height="100px"/>
    </ng-container>
  </div>
</div>

