<div style="height:100%; width:100%">

<div style="width:100%; padding:1%; background-color: #E6B0AA; color: white">
  <mat-icon style="padding-right: 1.5%">hourglass_bottom</mat-icon> Function in Progress..
</div>

  <h1 class="titleicon">
    <mat-icon>merge_type</mat-icon>
    Patienten zusammenführen
  </h1>

<div  style="display: flex; flex-flow: row; justify-content: space-evenly;">

<!--PATIENTENDATEN1-->
<mat-card class="patientCard" style="width: 30%">
  <mat-card-title style="font-size: xx-large">Patientendaten 1</mat-card-title>

  <div class="pseudonyme" style=" flex: 1 1 40%; display: flex; flex-flow:column; padding-top: 5%" >
    <mat-card-title style="color:#294E66; font-size: x-large">Pseudonyme</mat-card-title>
    <div style="flex-flow: row">
    <app-patient-pseudonyms style="width: 90%" [readOnly]=true [pseudonyms]="patients[0].ids"></app-patient-pseudonyms>
  </div>
  </div>

  <div class="patientendaten"  style=" flex: 1 1 40%; display: flex;  flex-flow: column; padding-top: 5%">
    <mat-card-title style="color:#294E66; font-size: x-large">Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true  side="right" [fields]="patients[0].fields" (slideFieldEvent)="updateFinalPatient($event.name, $event.value)"></app-patient-fields></div>
</mat-card>

<!-- FINALER PATIENT -->
<mat-card style="width: 30%" class="MergeCard">
  <mat-card-title style="font-size: xx-large">Finale Patientendaten</mat-card-title>

  <div class="pseudonyme" style=" flex: 1 1 40%; display: flex; flex-flow:column;; padding-top: 5%" >
    <mat-card-title style="color:#294E66; font-size: x-large">Pseudonyme</mat-card-title>
    <div style="flex-flow: column; justify-content: center ">
      <!-- WOHER SOLL DER FINALEPATIENT SEIN PSEUDONYM ERHALTEN? -->
      <app-patient-pseudonyms style="width: 90%" [readOnly]=true [pseudonyms]="emptyPatient.ids"></app-patient-pseudonyms> <!-- [pseudonyms]="patients[0].ids" -->
    </div>
  </div>

  <div class="patientendaten"  style=" flex: 1 1 40%; display: flex;  flex-flow: column; padding-top: 5%">
    <mat-card-title style="color:#294E66; font-size: x-large;">Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true [fields]="finalPatient.fields" ></app-patient-fields></div>
</mat-card>

<!--PATIENTENDATEN2-->
  <mat-card class="patientCard" style="width: 30%">
    <mat-card-title style="font-size: xx-large">Patientendaten 2</mat-card-title>

    <div class="pseudonyme" style=" flex: 1 1 80%; display: flex; flex-flow:column; padding-top: 5%" >
      <mat-card-title style="color:#294E66; font-size: x-large">Pseudonyme</mat-card-title>
      <div style="flex-flow: column; justify-content: flex-end; ">
        <app-patient-pseudonyms style="width:100%; float:right; justify-content: flex-end" [readOnly]=true [pseudonyms]="patients[1].ids"></app-patient-pseudonyms>
      </div>
    </div>

    <div class="patientendaten"  style=" flex: 1 1 80%; display: flex;  flex-flow: column; float right;  padding-top: 5%">
      <mat-card-title style="color:#294E66; font-size: x-large;">Patientendaten</mat-card-title>
      <app-patient-fields side="left" [readOnly]=true  [fields]="patients[1].fields" (slideFieldEvent)="updateFinalPatient($event.name, $event.value)"></app-patient-fields></div>
  </mat-card>

</div>
<button mat-raised-button id="ergebnisButton"><a style="color: #294E66;text-decoration: none" [state]="{patient: finalPatient, fields: finalPatient.fields}" (click)="createNewPatient()"  routerLink="/idcard">Zusammenführen</a></button>
</div>
