
<div style="height:100%; width:100%">

  <h2 class="titleicon">
    <ion-icon name="git-merge"></ion-icon>
    Patienten zusammenführen
  </h2>

<div  style="display: flex; flex-flow: row; justify-content: space-around;">

<mat-card class="patientCard" style="width: 28%">
  <mat-card-header>Patientendaten 1</mat-card-header>

  <div class="pseudonyme" style="background-color: #f2f2f2; flex: 1 1 40%; display: flex; flex-flow:column" >
    <mat-card-title>Pseudonyme</mat-card-title>
    <div style="flex-flow: row">
    <app-patient-pseudonyms style="width: 90%" [readOnly]=true [merging]=true [pseudonyms]="patients[0].ids"></app-patient-pseudonyms>
  </div>
  </div>

  <div class="patientendaten"  style="background-color: #f2f2f2; flex: 1 1 40%; display: flex;  flex-flow: column">
    <mat-card-title>Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true [merging]=true [fields]="patients[0].fields"></app-patient-fields></div>
</mat-card>

<mat-card style="width: 28%" class="MergeCard">
  <mat-card-header>Final Patientendaten</mat-card-header>

</mat-card>

<mat-card style="width: 28%" class="patientCard">
  <mat-card-header>Patientendaten 2</mat-card-header>
  <div class="pseudonyme" style="background-color: #f2f2f2; flex: 1 1 40%; display: flex; flex-flow:column" >
    <mat-card-title>Pseudonyme</mat-card-title>
    <app-patient-pseudonyms [readOnly]=true [merging2]=true [pseudonyms]="patients[1].ids"></app-patient-pseudonyms>
  </div>
  <div class="patientendaten"  style="background-color: #f2f2f2; flex: 1 1 40%; display: flex;  flex-flow: column">
    <mat-card-title>Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true [merging2]=true [fields]="patients[1].fields"></app-patient-fields>
  </div>

</mat-card>
</div>
<button mat-raised-button id="ergebnisButton"><a style="color: white;text-decoration: none" routerLink="/ergebnis-zusammenfuehren">Zusammenführen</a></button>

</div>
