
<body>
<br>
<h1>Patienten zusammenführen</h1>
<br><br><br>


<div id="patientendaten1">
  <h2>Patientendaten 1</h2>
  <mat-form-field class="example-full-width" >
    <mat-label *ngFor="let id of patient.ids">{{id.idType}}</mat-label>
    <input matInput id="pPseudonyme"  [readonly]="readOnly" *ngFor="let id of patient.ids" class="patientendatenzeile" value=" {{id.idString}}"><button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button>
  </mat-form-field>

<!--  <div class="patientendatenzeile">Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
<div class="patientendatenzeile">Intern Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button> </div>
  <div class="patientendatenzeile">Extern Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
-->
<div *ngFor="let field of configuredFields | async">
  <mat-form-field class="example-full-width" >
    <mat-label >{{field.name}}</mat-label>
    <input  [readonly]="readOnly" matInput [value]="fields[field.name]"> <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button>
  </mat-form-field>

</div>
 <!-- <div class="patientendatenzeile">Nachname <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  <div class="patientendatenzeile">Geburtsname <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  <div class="patientendatenzeile">Vorname <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button> </div>
  <div class="patientendatenzeile">Geburtsdatum <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  <div class="patientendatenzeile">Wohnort <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  <div class="patientendatenzeile">PLZ <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>-->
</div>

<div id="finalpatientendaten">
  <h2>Final Patientendaten</h2>

  <mat-form-field class="example-full-width" >
    <mat-label *ngFor="let id of patient.ids">{{id.idType}}</mat-label>
    <input matInput  [readonly]="readOnly" *ngFor="let id of patient.ids" class="patientendatenzeile" ><button class="PfeilNachRechts"><ion-icon class="closefilterwahl" name="close-circle"></ion-icon></button>
  </mat-form-field>
  <div *ngFor="let field of configuredFields | async">
    <mat-form-field class="example-full-width" >
      <mat-label >{{field.name}}</mat-label>
      <input  [readonly]="readOnly" matInput> <button class="PfeilNachRechts"><ion-icon class="closefilterwahl" name="close-circle"></ion-icon></button>
    </mat-form-field>

  </div>

<!--  <div class="patientendatenzeile">Pseudonym</div>
  <div class="patientendatenzeile">Intern Pseudonym</div>
  <div class="patientendatenzeile">Extern Pseudonym</div>

  <div class="patientendatenzeile">Nachname</div>
  <div class="patientendatenzeile">Geburtsname</div>
  <div class="patientendatenzeile">Vorname</div>
  <div class="patientendatenzeile">Geburtsdatum</div>
  <div class="patientendatenzeile">Wohnort</div>
  <div class="patientendatenzeile">PLZ</div>-->
</div>

<div id="patientdaten2">
  <h2>Patientendaten 2</h2>
  <mat-form-field class="example-full-width" >
    <mat-label *ngFor="let id of patient.ids">{{id.idType}}</mat-label>
    <input matInput   [readonly]="readOnly" *ngFor="let id of patient.ids" class="patientendatenzeile" value=" {{id.idString}}"><button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button>
  </mat-form-field>

  <!--  <div class="patientendatenzeile">Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  <div class="patientendatenzeile">Intern Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button> </div>
    <div class="patientendatenzeile">Extern Pseudonym <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button></div>
  -->
  <div *ngFor="let field of configuredFields | async">
    <mat-form-field class="example-full-width" >
      <mat-label >{{field.name}}</mat-label>
      <input  [readonly]="readOnly" matInput [value]="fields[field.name]"> <button class="PfeilNachRechts"><ion-icon name="arrow-forward-circle"></ion-icon></button>
    </mat-form-field>

  </div>
</div>

<button id="ergebnisButton"><a id="ergebnisLink" routerLink="/ergebnis-zusammenfuehren">Zusammenführen</a></button>

</body>

<!--value="{{fields[field.name]}}"-->
