.titleicon{
  padding-left: 2%;
  font-size: 40px;
  font-family: Arial;
  margin-top: 2%;
  margin-bottom: 2%;

}
mat-card-title{
  padding: 3%;
}

mat-card-header{
  font-size: 30px;
  font-family: Arial;
  padding-bottom: 3%;
  padding-top: 3%;
  color:white;
}

.patientCard{
  background-color: #284B63;
  padding-bottom: 3%;
  margin-bottom: 3%;
}

.MergeCard{
  background-color: #ADDFFF;
  padding-bottom: 3%;
  margin-bottom: 3%;
}

#ergebnisButton{
  background-color: #3895D0;
  font-size: 18px;
  color: white;
  padding: 5px 30px 5px 30px;
  width: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float:right;
  margin-right:2.5%;
  margin-bottom: 10%;
}

.patientendaten{
  padding-bottom: 8%;
}
