h2{
  font-family: Arial;
  font-size: 35px;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

h1{
  font-family: Arial;
  font-size: 40px;
}

.titleicon{
  font-size: 28px;
  font-family: Arial;
  font-size: 40px;
  margin-left: 1%;
}

#patientendaten1{
  width: 25%;
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 5px;
  left: 0%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#patientdaten2{
  width: 25%;
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 5px;
  top: 10%;
  left: 60%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#finalpatientendaten{
  width: 25%;
  height: 60%;
  background-color: #ADDFFF;
  border-radius: 5px;
  top: 10%;
  left: 30%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.PfeilNachRechts{
  font-size: 28px;
  float:right;
  background: none;
  border:none;

}
.PfeilnachLinks{
  font-size: 28px;
  margin-right: 10px;
  padding:0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background: none;
  border:none;
}

.patientendatenzeile{
  border-top: solid white 1px;
  border-bottom:solid white 1px;
  padding: 2%;
  font-size: 22px;

}
#ergebnisButton{
  padding: 25px;
  font-size: 22px;
  background-color: #3895D3;
  top: 75%;
  left: 77%;
  position:absolute;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#ergebnisLink{
  color: white;
  font-family: "Arial";
  text-decoration: none;
}
