<td> <form action="/myaction.php">
  <label class="container">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</form></td>

<td>ERWN5C0R</td>

<td><input type="text" name="nachname" placeholder="Nachname"> </td>
<td><input type="text" name="gebutsname" placeholder="Gebutsname"> </td>
<td><input type="text" id="vorname" name="vorname" placeholder="Vorname"> </td>
<td><input type="text" id="geburtsdatum" name="geburtsdatum" placeholder="Geburtsdatum"> </td>
<td><input type="text" id="wohnort" name="wohnort" placeholder="Wohnort"> </td>
<td><input type="text" id="plz" name="plz" placeholder="PLZ"> </td>

<td>

  <button type="submit" class="fertigButton">
    Fertig
  </button>

</td>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
