:host {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
  margin: 0;
  padding-bottom: 0;
}
mat-card {
  width: 350px;
  padding-left: 30px;
  padding-right: 30px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: #a20404;
}

.button {
  display: flex;
  justify-content: center;
}
