<ng-container *ngIf="this.showIdentitiesCard()">
  <!-- Secondary Identities Table -->
  <mat-table id="patientlist"
    [dataSource]="secondaryIdentities | slice:(pageIndex * pageSize):((pageIndex + 1) * pageSize)" 
    matSort
    matSortActive="idType" 
    matSortDirection="asc" 
    matSortDisableClear>

    <!-- Field Columns -->
    <ng-container *ngFor="let field of fields" [matColumnDef]="field.name">
      <th mat-header-cell *matHeaderCellDef>{{field.i18n | translate}}</th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'highlight': isDifferent(element, field.name)}">
        <span *ngIf="isDate(field.type)">
          {{element.fields[field.name] | date:'dd.MM.yyyy'}}
        </span>
        <span *ngIf="!isDate(field.type)">
          {{element.fields[field.name]}}
        </span>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{'patientlist.headers_actions' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; flex-flow: row; justify-content: space-evenly;">
          <button mat-icon-button style="background: none;border:none;" (click)="openIDCardDialog(element);">
            <mat-icon matTooltip="{{'button_id_card' | translate}}">fact_check</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
        (click)="onRowClick(row)"
        [ngClass]="{'clicked-row': isClickedRow(row)}">
    </tr>
    <!-- No Data Row -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center">
        {{'patientlist.no_patient_found' | translate}}
      </td>
    </tr>
  </mat-table>
  
  <mat-paginator 
    [length]="secondaryIdentities.length" 
    [pageSize]="pageSize" 
    [pageIndex]="pageIndex"
    [hidePageSize]="true" 
    aria-label="Select page" 
    (page)="onPageChange($event)"
    style="padding:0; align-self: flex-start;">
  </mat-paginator>
</ng-container>

<ng-container *ngIf="!this.showIdentitiesCard()">
  <p>No Identities</p>
</ng-container>