<form #consentTemplateForm="ngForm">
  <div style="height:100%;width:100%;">
    <div style="margin-left: 2.5%; width: 75%">
      <!--    <div style=" width: 50%">-->
      <!--      <h4 style="margin-left: 5%">Allgemenin:</h4>-->
      <!--    </div>-->
      <!-- Name -->
      <mat-form-field class="templateInputField" [ngStyle]="{'margin-bottom': displayError(name) ? '0.25em' : '-1.25em' }">
        <mat-label>Name</mat-label>
        <input pattern="[A-Za-z\d\-_\.&$#\+]*" style="width: 45%;" matInput placeholder=""
               [(ngModel)]="this.template.name"
               [name]="'name'" #name="ngModel" required="true">
        <mat-error *ngIf="displayError(name)">
          {{ getFieldErrorMessage("name", name.errors) }}
        </mat-error>
      </mat-form-field>

      <!-- Titel-->
      <mat-form-field class="templateInputField" [ngStyle]="{'margin-bottom': displayError(title) ? '0.25em' : '-1.25em' }">
        <mat-label>Titel</mat-label>
        <input style="width: 45%;" matInput placeholder=""
               [(ngModel)]="this.template.title" [name]="'title'" #title="ngModel" required="true">
            <mat-error *ngIf="displayError(title)">
              {{ getFieldErrorMessage("title", title.errors) }}
            </mat-error>
      </mat-form-field>

      <!-- Organization-->
      <mat-form-field class="templateInputField"
                      [ngStyle]="{'margin-bottom': displayError(title) ? '0.25em' : '-1.25em' }">
        <mat-label>Verantwortliche Einrichtung</mat-label>
        <input style="width: 45%;" matInput placeholder=""
               [(ngModel)]="this.template.organization" [name]="'organization'" #organization="ngModel">
      </mat-form-field>

      <!-- ResearchStudy-->
      <mat-form-field class="templateInputField"
                      [ngStyle]="{'margin-bottom': displayError(title) ? '0.25em' : '-1.25em' }">
        <mat-label>Forschungsprojekt</mat-label>
        <input style="width: 45%;" matInput placeholder=""
               [(ngModel)]="this.template.researchStudy" [name]="'researchStudy'" #researchStudy="ngModel">
      </mat-form-field>

      <!-- Validity-->
      <mat-form-field class="templateInputField" [ngStyle]="{'margin-bottom': displayError(validityPeriod) ? '0.25em' : '-1.25em' }">
        <mat-label>Gültigkeitsdauer</mat-label>
        <input matInput style="width: 90%; " placeholder="0 Jahren - 0 Monaten - 0 Tagen"
               [(ngModel)]="this.templateValidityPeriod"
               [readonly]="true" [required]="true" [name]="'validityPeriod'" #validityPeriod="ngModel">
        <mat-error *ngIf="displayError(validityPeriod)">
          {{getFieldErrorMessage("validityPeriod", validityPeriod.errors)}}
        </mat-error>
        <button mat-icon-button matSuffix (click)="openValidityPeriodDialog()">
          <mat-icon id="editIcon" [ngStyle]="{'transform':'scale(0.8)'}" >edit</mat-icon>
        </button>
      </mat-form-field>


      <mat-slide-toggle color="primary" style="clear: both; float:left; margin-top: 20px; margin-bottom: 1.25em"
                        [(ngModel)]="this.isMiiFhirConsent" [name]="'isMiiFhir'">basiert auf MII Broad Consent
      </mat-slide-toggle>
      <mat-form-field style="clear:both; float: left; width: 300px; padding-bottom: 0; margin: 0 0 -1.25em;"
                      *ngIf="this.isMiiFhirConsent">
        <mat-label>Version des MII Broad Consent</mat-label>
        <mat-select [(value)]="this.template.policy" required="true">
          <mat-option *ngFor="let version of this.miiFhirBroadConsentVersions"
                      value="{{version.code}}">{{version.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Modules -->
      <h4 style="margin-top: 20px; clear:both; float: left;">Module hinzufügen: </h4>

      <!-- modules -->
      <div cdkDropList (cdkDropListDropped)="dropModule($event)"
      [ngStyle]="{'width': '100%', 'flex-flow': 'row', 'clear': 'both', 'float': 'left', 'margin-bottom': template.items.length > 0 ? '10px' : '0px'}">
        <mat-card *ngFor="let module of template.items" cdkDrag  ngModelGroup="module" #moduleCtrl="ngModelGroup">
          <mat-card-header class="module-header">
            <mat-card-title></mat-card-title>
            <mat-card-subtitle>{{this.module.type == 'display'? 'Text' : 'Frage' }}</mat-card-subtitle>
            <div></div>
            <button mat-icon-button class="edit-module-button" color="primary"
                    style="float: right; margin-left: auto; margin-right: 10px;"
                    (click)="this.editModule(module)" [disabled]="isEditingModule()">
              <mat-icon matTooltip="editieren">edit</mat-icon>
            </button>
            <button mat-icon-button class="edit-module-button" color="primary" style="float: right"
                    (click)="this.deleteModule(module)">
              <mat-icon matTooltip="editieren">delete</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content style="margin-bottom: 2px" [ngSwitch]="module.constructor.name">
            <!-- display mode -->
            <div *ngIf="!this.module.editing">
              <h3 *ngIf=" this.module.type == 'choice'"><b>{{$any(module).policy?.text}}</b></h3>
              <p [innerHTML]="module.text" style="margin-bottom: 20px;margin-top: 5px;"></p>
              <div style="padding-bottom: 10px" *ngIf=" this.module.type == 'choice'">
                <mat-radio-group value="permit" style ="display:flex; gap:40px" #question color="primary" [disabled]="true">
                  <mat-radio-button value="permit" onclick="this.question.checked = false;">{{'radio_button_yes' | translate}}</mat-radio-button>
                  <mat-radio-button value="deny" >{{'radio_button_no' | translate}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <!-- edit mode -->
            <div *ngIf="this.module.editing">
              <mat-form-field *ngIf="this.currentModule.type == 'choice'" class="templateInputField">
                <mat-label>Einwilligungspolicy Liste</mat-label>
                <mat-select [(value)]="$any(this.currentModule).policySet" [required]="true">
                  <mat-option *ngFor="let policy of this.consentPolicySets | keyvalue" [value]="policy.key">
                    {{policy.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="this.currentModule.type == 'choice'" class="templateInputField">
                <mat-label>Einwilligungspolicy</mat-label>
                <mat-select [(value)]="$any(currentModule).policy" [required]="true" [disabled]="$any(currentModule).policySet == undefined">
                  <mat-option *ngFor="let policy of this.getPolicies(currentModule) || []" [value]="policy">
                    {{policy.display}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="module-mat-form-field-textarea">
                <mat-label>Text eingeben</mat-label>
                <textarea matInput [(ngModel)]="currentModule.text" style="padding-bottom: 0"
                          [name]="'module'" [required]="currentModule.type === 'display'"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="this.module.editing">
            <button mat-button type="submit" (click)="this.saveEditedModule(module)" [disabled]="!moduleCtrl?.valid || false">Speichen</button>
            <button mat-button (click)="this.cancelEditModule(module)">Abbrechen</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <!-- add module -->
      <div style="clear:both; float: left; width: 300px;  margin-top: 20px; margin-bottom: 40px; display: flex; flex-wrap: nowrap;">
        <mat-form-field class="templateInputField">
          <mat-label>Moduletyp</mat-label>
          <mat-select required="false" [(value)]="selectedModuleType">
            <mat-option *ngFor="let moduleType of this.moduleTypes"
                        [value]="moduleType.type">{{moduleType.display}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Module hinzufügen"
                (click)="this.createModule(selectedModuleType)"
                style="margin-top: 9px; margin-left: 8px">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <br>
      <div style="width: 90%; max-width: 700px;">
        <button mat-raised-button class="submit" style="clear: both; float: left; width: 20%;"
                [disabled]="this.disable(consentTemplateForm)"
                (click)="createTemplate()">Erstellen
        </button>
      </div>
    </div>
  </div>
</form>
