
<p>Personenidentifikator anfordern</p>

<div style="margin-bottom: 200px;">
  <app-patient-fields (fieldEvent)="fieldsChanged($event)" [fields]="patient.fields"></app-patient-fields>
  <div class="example-button-row">
    <br><br>
    <button mat-raised-button type="submit" (click)="createNewPatient()"> Anfordern </button>
  </div>
</div>






<!-- <tr >
   <th  class="tabellenspalte" colspan="2">neuer Patient:</th>
   <th *ngFor=" let field of fields"><input type="text" name="{{field}}}" placeholder="{{field}}" [(ngModel)]="tmpPatient.fields[field]"></th>
   <th id="addPatientzeile"><button type="submit" (click)="erstelleNeuenPatienten()"  id="addpatientbutton"><ion-icon name="person-add"></ion-icon></button></th>
 </tr>-->

<!--(click)="createNewPatient()"-->
