
h2{
  font-size: 40px;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: "Arial";
}

button{
  color:white;
  background-color: #3895D0;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 29%;


}




