
p{
  font-size: 35px;
  font-family: Arial;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 3%;

}

button{
  color:white;
  background-color: #3895D0;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 29%;


}




