body{
  background-color: white;
}
p{
  font-size: 35px;
  font-family: Arial;
  padding-top: 3%;
  margin-left: 5%;
  margin-bottom: 3%;

}

.example-button-row {
  top:48%;
  left:21%;
  position: absolute;
  display: flex;
  font-size: 40px;
}

button{
  color:white;
  background-color: #3895D0;
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
mat-raised-button{
  width: 5%;
}


