<div style="height:100%;width:100%;">
  <h1 class="title">Personenidentifikator anfordern</h1>
  <div style=" width: 50%">
    <h4 style="margin-left: 5%">Patientendaten eingeben:</h4>
    <app-patient-fields (fieldEvent)="fieldsChanged($event)"
                        [fields]="patient.fields"></app-patient-fields>
    <div style="width: 90%; margin-left: 5%; max-width: 700px;">
      <h4>Externes Pseudonym hinzufügen:</h4>
      <div *ngFor="let externalId of this.patient.ids" style="display: flex; flex-wrap: nowrap;">
        <mat-form-field class="inputField" style="width: 76.5%">
          <mat-label>{{externalId.idType}}</mat-label>
          <input style="width: 90%; " matInput placeholder="{{externalId.idType}}"
                 [(ngModel)]="externalId.idString"
                 [name]="externalId.idType">
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Externes Pseudonym entfernen"
                (click)="this.removeExternalIdField(externalId.idType)"
                style="margin-top: 9px; margin-left: 8px">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <div style="display: flex; flex-wrap: nowrap;"
           *ngIf="this.getExternalIdTypes(false).length > 0">
        <mat-form-field style="width: 76.5%">
          <mat-label>Pseudonymtyp</mat-label>
          <mat-select [formControl]="externalIdTypesFormControl" required="false">
            <mat-option *ngFor="let idType of this.getExternalIdTypes(false)"
                        [value]="idType">{{idType.idType}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Externes Pseudonym hinzufügen"
                [disabled]="this.externalIdTypesFormControl.value == undefined"
                (click)="this.addExternalIdField()" style="margin-top: 9px; margin-left: 8px">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <br>
    <div style="width: 90%; margin-left: 5%; max-width: 700px;">
      <h4>Pseudonymtyp hinzufügen:</h4>
      <mat-form-field color="primary" style="width: 76.5%">
        <mat-label>Pseudonym-Typen</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let idType of this.selectedIdTypes"
                    (removed)="removeInternalIdType(idType)">
            {{idType}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Pseudonym-Typ hinzufügen..."
                 [formControl]="internalIdTypesFormControl"
                 [matChipInputFor]="chipList"
                 [matAutocomplete]="auto"
                 (matChipInputTokenEnd)="findAndAddInternalIdType($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="selectedInternalIdType($event)">
          <mat-option style="height: auto" *ngFor="let idType of this.getInternalIdTypes(false)"
                      [value]="idType">
            <div [hidden]="idType.added">{{idType.idType}}</div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
    </div>
    <button mat-raised-button class="submit" style="margin-left: 5%; width: 20%; float: left;"
            (click)="createNewPatient()"> Anfordern
    </button>
  </div>
</div>
