<div id="patientenlisteAnsicht">
  <br>
  <p>{{title}}</p>
  <div>
  <button type="submit" class="PatientenansichtButton" name="Projektpseudonym erstellen">Projektpseudonym erstellen</button>
  <button type="submit" class="PatientenansichtButton">Zusammenfuehren</button>
  <button type="submit" class="PatientenansichtButton">Loeschen</button>
  <input id="suchleiste" type="text"  placeholder="Suche...">
 <button id="suchbutton" type="submit" class="PatientenansichtButton"><ion-icon id="searchicon" name="search-outline"></ion-icon></button>

  </div>
<br><br>
<table id="patientlist">

  <tr id="addPatientzeile">
    <!--<form action="/action_page.php">-->
    <th colspan="2">neuer Patient:</th>
    <th><input type="text" name="nachname" placeholder="Nachname"> </th>
    <th><input type="text" name="gebutsname" placeholder="Gebutsname"> </th>
    <th><input type="text" id="vorname" name="vorname" placeholder="Vorname"> </th>
    <th><input type="text" id="geburtsdatum" name="geburtsdatum" placeholder="Geburtsdatum"> </th>
    <th><input type="text" id="wohnort" name="wohnort" placeholder="Wohnort"> </th>
    <th><input type="text" id="plz" name="plz" placeholder="PLZ"> </th>
    <th><button type="submit" id="addpatientbutton"><ion-icon name="person-add"></ion-icon></button></th>
  <!--</form>-->
  </tr>

  <tr id="patientenlisteHead">
  <th><form action="/action_page.php">
    <label class="container">
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </form></th>
  <th>Pseudonym <button class="filterbutton" (click)="openfilterpseudonyme()"><ion-icon  name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Nachname <button class="filterbutton" (click)="openfilternachname()"><ion-icon  name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Geburtsname <button class="filterbutton" (click)="openfiltergeburtsname()"><ion-icon name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Vorname <button class="filterbutton" (click)="openfiltervorname()"><ion-icon name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Gebutsdatum <button class="filterbutton" (click)="openfiltergeburtsdatum()"><ion-icon name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Wohnort <button class="filterbutton" (click)="openfilterwohnort()"><ion-icon name="caret-down-circle-outline"></ion-icon></button></th>
  <th>PLZ <button class="filterbutton" (click)="openfilterplz()"><ion-icon name="caret-down-circle-outline"></ion-icon></button></th>
  <th>Tools</th>
  </tr>

  <tr app-patientenzeile> </tr>

  <tr app-patientenzeile> </tr>

  <tr app-patientenzeile> </tr>

  <tr app-patientenzeile> </tr>

  <tr app-patientenzeile> </tr>

  <tr app-patientenzeile> </tr>

  <tr app-edit-patienten-zeile> </tr>

  <tr app-patientenzeile> </tr>
  <!--
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let char of characters | async">
      <td *ngFor="let col of columns">
        {{char[col]}}
   /td>
    </tr>


    <tr>
      <th *ngFor="let c of columns">{{c}}</th>
    </tr>
    <tr *ngFor="let ch of characters | async"
        patientenzeile
        [character]="ch"
        [columns]="columns">

    </tr>
    -->
</table>
</div>
