<div class="example-container mat-elevation-z8">
  <h1 style="transform: scale(0.9); padding-top: 1%; padding-bottom: 0.5%; margin-left: -1.9%; font-family: Arial;">Audit Trail</h1>
  <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef style="min-width: 27%; max-width: 27%;">Date</mat-header-cell>
      <mat-cell *matCellDef="let element" style="min-width: 27%; max-width: 27%;"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef style="min-width: 32%; max-width: 32%;">Action</mat-header-cell>
      <mat-cell *matCellDef="let element" style="min-width: 32%; max-width: 32%;"> {{element.action}} </mat-cell>
    </ng-container>

    <!-- Info Column -->
    <ng-container matColumnDef="info">
      <mat-header-cell *matHeaderCellDef style="min-width: 37%; max-width: 37%;">Info</mat-header-cell>
      <mat-cell *matCellDef="let element" style="min-width: 37%; max-width: 37%;"> {{element.info}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"><mat-icon> {{element.symbol}} </mat-icon></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>