.example-container {
  display: flex;
  flex-direction: column;
  width: 80.6%;
  float: left;
  margin-left: 2%;
  margin-top: 1.5%;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}
