<body>

<h2>Audit-Trail</h2>

<table>
  <tr>
    <th>Nutzer</th>
    <th>Pseudonym</th>
    <th>Aktion</th>
    <th>Datum</th>
    <th></th>
  </tr>
  <tr>
    <td>Max Mustermann</td>
    <td>ERWN5C0R</td>
    <td>Editieren Wohnort und PLZ</td>
    <td>12:00 02.07.2021</td>
    <td><button><ion-icon name="folder"></ion-icon></button></td>
  </tr>
  <tr>
    <td>Felix Schmidt</td>
    <td>U462GBQC</td>
    <td>Zusammenführen Patient Thomas Mayer und Patient Thomas Maier</td>
    <td>11:44 02.07.2021</td>
    <td><button><ion-icon name="folder"></ion-icon></button></td>
  </tr>
  <tr>
    <td>Felix Schmidt</td>
    <td>G2X8U495</td>
    <td>Löschen</td>
    <td>09:12 02.07.2021</td>
    <td><button><ion-icon name="folder"></ion-icon></button></td>
  </tr>
  <tr>
    <td>Max Mustermann</td>
    <td>2SD46RSZ</td>
    <td>Löschen</td>
    <td>12:00 30.05.2021</td>
    <td><button><ion-icon name="folder"></ion-icon></button></td>
  </tr>
</table>

</body>
