body{
  background-color: #f2f2f2;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button{
  width: 20%;
  background-color: #3895D3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #ADDFFF;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 200px;
  padding-right: 200px;
  width: 90%;
  float: left;
}

label{
  font-weight: bold;
  font-size: 20px;
}

p{
  background-color: #f2f2f2;
  font-size: 35px;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  float: left;
}

a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}
