<div style="width: 100%; height: 100%; padding-bottom: 5%">
  <div style="margin-left: 2%">
    <h2>{{'info.notice_add_patient' | translate}}</h2>
    <p>
      {{'info.add_patient_text1' | translate}}
      <br />
      {{'info.add_patient_text2' | translate}}
      <br />
    </p>

    <ul>
      <li>
        {{'info.add_patient_text3' | translate}}
      </li>
      <li>
        {{'info.add_patient_text4' | translate}}
      </li>
      <li>
        {{'info.add_patient_text5' | translate}}
      </li>
      <li>{{'info.add_patient_text6' | translate}}</li>
    </ul>
    <br />
    <h2>{{'info.notice_search' | translate}}</h2>
    <p>
      {{'info.search_text1' | translate}}
      <br />
      {{'info.search_text2' | translate}}
    </p>

    <ul>
      <li>{{'info.search_text3' | translate}}</li>
      <li>{{'info.search_text4' | translate}}</li>
      <li>{{'info.search_text5' | translate}}</li>
      <ul>
        <li>{{'info.search_text6' | translate}}</li>
        <li>{{'info.search_text7' | translate}}</li>
        <li>{{'info.search_text8' | translate}}</li>
        <li>{{'info.search_text9' | translate}}</li>
      </ul>
      <li>{{'info.search_text10' | translate}}</li>
      <li>{{'info.search_text11' | translate}}</li>
      <li>{{'info.search_text12' | translate}}</li>
    </ul>
    <br />
    <h2>{{'info.notice_audit_trail' | translate}}</h2>
    <p>{{'info.audit_trail_text1' | translate}}</p>

    <ul>
      <li>{{'info.audit_trail_text2' | translate}}</li>
      <li>{{'info.audit_trail_text3' | translate}}</li>
      <li>{{'info.audit_trail_text4' | translate}}</li>
      <li>{{'info.audit_trail_text5' | translate}}</li>
    </ul>
    {{'info.audit_trail_text6' | translate}}
  </div>
</div>
