<div style="width: 100%; height: 100%;padding-bottom: 5%;">
<h1 style="margin-top: 2%;margin-left: 2%; margin-bottom: 2%; flex: content; text-align: center">Informationen und Hinweise zur Mainzelliste</h1>
<div style="margin-left: 2%">
<h2>Hinweis für die Erstellung eines Patienten</h2>
  <p>
    Diese Anwendung gibt für die von Ihnen im Folgenden einzugebenden Stammdaten einen Personenidentifikator (PID)
    zurueck.
    Dabei wird der bekannte Patientenbestand durchsucht; bei einem Treffer wird der bestehende PID zurueckgegeben.
    <br>
    Bitte beachten Sie bei Ihrer Eingabe die folgenden Punkte:
    <br>
    <ul>
      <li>Geben Sie alle Ihnen bekannten Vornamen an, getrennt durch Leerzeichen.</li>
      <li>Achten Sie bei Doppelnamen darauf, ob sie mit Bindestrich oder zusammen geschrieben werden (z.B. „Annalena“
        oder „Anna-Lena“).
      </li>
      <li>Geben Sie den Geburtsnamen nur an, falls er vom aktuellen Nachnamen abweicht (z.B. Namenswechesel durch
        Heirat).
      </li>
      <li>Die mit * markierten Felder sind Pflichtfelder.</li>
    </ul>
<br>
<h2>Hinweis zur Suche und Filterung</h2>
  <p>
    In der Patientenliste kann man nach den Spalten filtern.
    Geben Sie dafür Ihren Suchbegriff ein und wählen Sie über den Dropdown zu welcher Kategorie Ihr Suchbegriff gehört.
    <br>
    Spezifische Filterung in der Spalte
    Sie können durch den Dreieck neber dem Spaltennamen das Filterfenster öffnen um folgende Filterungsoptionen zu
    verwenden:
    <ul>
      <li>Nach Datum</li>
      <li>Nach Zeitraum</li>
      <li>Nach einem Begriff, der</li>
      <ul>
        <li>mit folgenden Buchstaben beginnt</li>
        <li>mit folgenden Buchstaben endet</li>
        <li>folgende Buchstaben enthält</li>
        <li>folgende Buchstaben nicht enthält</li>
      </ul>
      <li>Alphabetisch aufsteigend sortieren</li>
      <li>Alphabetisch absteigend sortieren</li>
      <li>Nach mehreren konkreten Begriffen sichen</li>
    </ul>
  <br>
  <h2>Hinweis zum Audit-Trail</h2>
  <p>
    Der Audit-Trail listet alle geführten Aktionen der Nutzer aus.
    <ul>
      <li> Neu angelegte Patienten,</li>
      <li>Änderungen an den Daten eines Patienten,</li>
      <li>Patienten die gelöscht worden sind,</li>
      <li> Patienten die zusammen gemergt worden sind</li>
    </ul>
    werden im Audit-Trail aufgezeichnet. Dabei wird Zeitpunkt der Aktion aufgezeichnet und angegeben.
    Über den Folder-Symbol gelangt man zur ID-Card des Patienten für weitere Details über die Aktion.
</div>
</div>
