<style>
  #kopfzeile{
    width: 100%;
    height: 10%;
    background-color: #f2f2f2;
  }
  h1{
    font-family: Arial;
    padding-top: 50px;
    margin-left:100px;
    color: black;
    font-size: 50px;
  }

   #navigationsleiste{
     background-color: #f2f2f2;
     float: left;
     height: 100%;
     width: 12%;

   }

  .navbutton{
    width: 80%;
    margin: 30px;
    padding:10px;
    border: none;
    background: none;
    float: left;
    text-align: left;
  }

  #homebutton{
    margin-top: 150px;
  }

  #hauptteil{
    background-color: white;

  }

  #fusszeile{
    background-color: yellow;
  }
</style>
<app-head></app-head>

<app-navigationsseite></app-navigationsseite>

<div id="hauptteil">
<router-outlet></router-outlet>
</div>

<div id="fusszeile">
</div>
