<div class="wrapper" style="display: flex; overflow: auto">

  <!--HEADER AND CONTENT AS COLUMN-->
  <app-head style="flex: 1 1 3%;"></app-head>

<!--    <div style="flex: 1 1 92%">-->

    <!-- NAVIGATION AND CONTENT NEXT TO EACH OTHER-->
    <div style="display: flex; flex-flow: row; min-height: auto;">
      <app-navigation style="flex: 1 1 5%;"></app-navigation>

      <div style="flex: 1 1 auto; display: flex; flex-flow: column;">
        <!-- DONTENT AND FOOTER AS COLUMN ADJUSTABLE -->
        <div style="flex: 1 1 auto;">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
<!--</div>-->
    <app-footer style="flex: 0 0 5%;"></app-footer>
</div>


