<div class="wrapper" style="display: flex; overflow: auto">

  <!--HEADER AND CONTENT AS COLUMN-->
  <app-head style="flex: 1 1 3%;"></app-head>

  <!-- NAVIGATION AND CONTENT NEXT TO EACH OTHER-->
  <div style="display: flex; flex-flow: row; flex-basis: 92%; min-height: auto;">
    <app-navigation style="flex: 1 1 5%;"></app-navigation>

    <div style="flex: 1 1 95%; display: flex; flex-flow: column;">
      <div style="flex: 1 1 auto;min-height: 90%;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer style="flex: 0 0 5%;"></app-footer>
</div>


