<style>
  h2{
    font-family: Arial;
    font-size: 35px;
    margin-left: 5%;
  }

  h1{
    font-family: Arial;
    font-size: 40px;

  }

  .titleicon{
    font-size: 28px;
    font-family: Arial;
    font-size: 40px;
    margin-left: 1%;
    margin-top: 5%;
  }

  #patientendaten{
    width: 30%;
    height: 45%;
    background-color: #f2f2f2;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #888888;
    left: 0%;
    position:absolute;
    margin-left:1%;
  }

  #pseudonyme{
    width: 30%;
    height: 45%;
    background-color: #f2f2f2;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #888888;
    top: 6%;
    left: 35%;
    position:absolute;
    margin-left:1%;
  }

  #historie{
    width: 85%;
    height: 35%;
    background-color: #f2f2f2;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #888888;
    top: 55%;
    left: 0px;
    position:absolute;
    margin-left:1%;
  }

  .IDCardAnsichtButton {
    background-color: #3895D3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 15px;
    position: absolute;
    left: 85%;
    font-size: 20px;

  }

</style>
<body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<br>
<span class="titleicon"><ion-icon name="id-card"></ion-icon>  Ähnliche Patienten finden</span><br><br><br>

<div id="patientendaten">
  <h2>Patientendaten</h2>
</div>
<div id="pseudonyme">
  <h2>Pseudonyme für diesen Patienten</h2>
</div>

<div id="historie">
  <h2>Ähnliche Patienten</h2>
</div>
</body>
