#historie{
  width: 91%;
  margin-bottom: 10%;
  margin-top: 1%;
  margin-left: 2%;
  padding-bottom: 2%;
}


.historieInput{
  width: 95%;
  margin: 0% 2% ;
  color: black;
  height: 20%;
  margin-bottom: 5%;
}

mat-card-title{
  transform: scale(0.7);
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial;
}

