<mat-card id="historie" style="flex: 1 1 80%; display: flex;  flex-flow: column">
<!--  <mat-card-header style="width:100%; padding:1%; background-color: #E6B0AA; color: white">
    Funktion in Bearbeitung
  </mat-card-header>-->
  <mat-card-title>Historie</mat-card-title>
  <mat-form-field class="historieInput" hideRequiredMarker>
    <mat-label>Historie des Patienten</mat-label>
    <input disabled="disabled" style="height: 200px" matInput placeholder="Historie des Patienten">
  </mat-form-field>
</mat-card>
