<button mat-button *appHasPermission="'readPatients'" [routerLink]="['/patientlist']" class="sidenav-menu-item">
  <mat-icon>list</mat-icon>
  <span>{{'navigation.patientlist' | translate}}</span>
</button>
<button mat-button *appHasPermission="'addPatient'" [routerLink]="['/add-new-patient']" class="sidenav-menu-item">
  <mat-icon>person_add_alt</mat-icon>
  <span>{{'navigation.new_patient' | translate}}</span>
</button>
<button mat-button [routerLink]="['/project-id']" class="sidenav-menu-item">
  <mat-icon>autorenew</mat-icon>
  <span>{{'navigation.project_id' | translate}}</span>
</button>
<!--<button mat-button [routerLink]="['/audittrail']" class="sidenav-menu-item">-->
<!--  <mat-icon>list_alt</mat-icon>-->
<!--  <span>Audit-Trail</span>-->
<!--</button>-->
<button mat-button [routerLink]="['/info']" class="sidenav-menu-item">
  <mat-icon>info</mat-icon>
  <span>{{'navigation.info' | translate}}</span>
</button>
