<button mat-button *appHasPermission="Permission.READ_PATIENT" [routerLink]="['/patientlist']" class="sidenav-menu-item">
  <mat-icon>list</mat-icon>
  <span>{{'navigation.patientlist' | translate}}</span>
</button>
<button mat-button *appHasPermission="Permission.CREATE_PATIENT" [routerLink]="['/add-new-patient']" class="sidenav-menu-item">
  <mat-icon>person_add_alt</mat-icon>
  <span>{{'navigation.new_patient' | translate}}</span>
</button>

<mat-divider *ngIf="this.authorizationService.authorizationState.GENERATE_IDS" class="menu-divider"></mat-divider>
<button mat-button *ngIf="this.authorizationService.authorizationState.GENERATE_IDS" [routerLink]="['/bulk-id-generation']" class="sidenav-menu-item">
  <mat-icon>library_add</mat-icon>
  <span>{{'navigation.bulkIdGeneration' | translate}}</span>
</button>

<!--<button mat-button [routerLink]="['/audittrail']" class="sidenav-menu-item">-->
<!--  <mat-icon>list_alt</mat-icon>-->
<!--  <span>Audit-Trail</span>-->
<!--</button>-->
<ng-container *ngIf="this.appConfigService.isConsentEnabled()">
  <mat-divider *ngIf="this.authorizationService.authorizationState.CREATE_CONSENT_TEMPLATE" class="menu-divider"></mat-divider>
  <button *ngIf="this.authorizationService.authorizationState.CREATE_CONSENT_TEMPLATE"  mat-button [routerLink]="['/consent-templates']" class="sidenav-menu-item">
    <mat-icon>assignment</mat-icon>
    <span>{{'navigation.consent_template' | translate}}<sup style="font-size: 11px; font-weight: lighter;"> BETA</sup></span>
  </button>
</ng-container>
<button mat-button *appHasPermission="Permission.EDIT_PATIENT" [routerLink]="['/matches']" class="sidenav-menu-item">
  <mat-icon>quiz</mat-icon>
  <span>Tentative Matches</span>
</button>

<mat-divider class="menu-divider"></mat-divider>
<ng-container *ngIf="this.appConfigService.isConfigurationEnabled()">
  <button mat-button *ngIf="this.authorizationService.authorizationState.EDIT_CONFIGURATION" [routerLink]="['/configuration']" class="sidenav-menu-item">
    <mat-icon>settings</mat-icon>
    <span>{{'navigation.configuration' | translate}}</span>
  </button>
</ng-container>
<button mat-button [routerLink]="['/info']" class="sidenav-menu-item">
  <mat-icon>info</mat-icon>
  <span>{{'navigation.info' | translate}}</span>
</button>

