<form #consentForm="ngForm">
<div style="height:100%; width:100%;">
  <div style="margin-bottom: 15%;width: 75%; margin-left: 2.5%">
    <app-consent-detail [(consent)]="dataModel"></app-consent-detail>
    <br/>
    <div style="width: 90%; max-width: 700px; float: left">
      <button mat-raised-button class="submitBreak" *ngIf="dataModel" (click)="cancel()"
              style="margin-right: 20px;">{{'button_cancel' | translate}}
      </button>
      <button mat-raised-button class="submit" *ngIf="dataModel"
              [disabled]="!dataModel || !consentForm.form.valid"
              (click)="editConsent()">{{'button_publish' | translate}}
      </button>
    </div>
  </div>
</div>
</form>
