<h1 mat-dialog-title>{{"configuration.policySet.add" | translate}}</h1>
<div mat-dialog-content>
  <app-error-card [(messages)]="errorMessages"></app-error-card>
  <form [formGroup]="policySetForm">
    <mat-form-field appearance="outline">
      <mat-label>{{'configuration.policySet.id' | translate}}</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'configuration.policySet.name' | translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="submitBreak">{{'button_cancel' | translate}}</button>
  <button mat-button (click)="save()" class="submit" cdkFocusInitial [disabled]="!policySetForm.valid">
    {{'button_create' | translate}}
  </button>
</div>
