h2{
  font-family: Arial;
  font-size: 35px;
  margin-left: 5%;
  margin-top: 2%;
}

#patientendaten1{
  width: 35%;
  height: 60%;
  background-color: #f1f1f1;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: #cccccc;
  left: 5%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.patientendatenzeile{
  border: solid lightgrey 1px;
  padding: 2%;
  font-size: 22px;
}

#druckenButton{
  width: 10%;
  padding: 25px;
  font-size: 22px;
  background-color: #3895D3;
  top: 10%;
  left: 65%;
  position:absolute;
  border-radius: 30px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#title{
  font-size: 35px;
  font-family: Arial;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 5%;
}

#zeitstempel{
  top: 72%;
  left: 6%;
  position: absolute;
}
