<body>
<br><br>
<span id="title">Patient wurde erfolgreich angelegt</span>
<br><br><br>


<div id="patientendaten1">
  <h2>Patient</h2>
  <div class="patientendatenzeile">Pseudonym </div>
  <div class="patientendatenzeile">Intern Pseudonym </div>
  <div class="patientendatenzeile">Extern Pseudonym</div>

  <div class="patientendatenzeile">Nachname</div>
  <div class="patientendatenzeile">Geburtsname</div>
  <div class="patientendatenzeile">Vorname</div>
  <div class="patientendatenzeile">Geburtsdatum </div>
  <div class="patientendatenzeile">Wohnort </div>
  <div class="patientendatenzeile">PLZ</div>
</div>
<br>
<div id="zeitstempel">Patient wurde angelegt am: </div>
<button id="druckenButton">Drucken</button>
</body>
