<style>
  nav{
    background-color: #f2f2f2;
    float: left;
    height: 100%;
    width: 10%;
    padding-left: 35px;
    border-right: solid;
    border-color: white;



  }
  a{
    color: black;
    font-size: 22px;

  }

  ion-icon{
    padding-right: 15px;
    font-size: 25px;
  }
  .navbutton{
    width: 80%;
    margin: 30px;
    padding:10px;
    border: none;
    background: none;
    float: left;
    text-align: left;
  }


</style>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<nav>
  <br><br>
  <ion-icon name="home-sharp"></ion-icon> <a routerLink="/home" >Home</a> <br><br><br><br>
  <ion-icon name="person-add-sharp"></ion-icon> <a routerLink="/add-patient-formular" >PID anfordern</a> <br><br><br><br>
  <ion-icon name="list-sharp"></ion-icon> <a routerLink="/patientenliste" >Patientenliste</a> <br><br><br><br>
  <ion-icon name="document-text-sharp"></ion-icon> <a routerLink="/audittrail" >Audit-Trail</a> <br><br><br><br>
</nav>
