<div mat-dialog-content>
<mat-stepper [linear]="isLinear" id="stepper" #stepper>
    <mat-step>
        <ng-template matStepLabel>{{'' | translate}}</ng-template>
        <div>
            <ng-container *ngFor="let group of data.patient.associatedIdGroups">
                <button
                    mat-raised-button
                    matStepperNext
                    class="submit"
                    type="submit"
                    style="margin-left: 10px; margin-right: 10px;"
                    (click)="dataModel = group; setupTable(); toSecondStep()">
                    {{group.name}}
                </button>
            </ng-container>
            <button mat-raised-button
                class="submit"
                type="submit"
                style="margin-left: 10px;" (click)="onCancel()">
                {{'button_cancel' | translate}}
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{'' | translate}}</ng-template>
        <associated-ids-table *ngIf="step == 1" [data]="tableData">
        </associated-ids-table>
        <div style="margin-top: 10%;">
            <button
              mat-raised-button
              class="submit"
              type="submit"
              matStepperNext
              (click)="step = 2; generate()"
            >
              {{'button_save_new_id' | translate}}
            </button>
            <button
              mat-raised-button
              matStepperPrevious
              class="submit"
              type="submit"
              (click)="step = 0"
            >back
              {{'' | translate}}
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{'' | translate}}</ng-template>
        <div *ngIf="canGenerate">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>{{'' | translate}}</mat-label>
              <mat-select (selectionChange)="idType[0] = $event;">
                <mat-option *ngFor="let id of internalIds" [value]="id.id">
                  {{id.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
          <mat-form-field appearance="fill">
            <mat-label>{{'' | translate}}</mat-label>
            <mat-select (selectionChange)="idType[1] = $event; input.value = ''; idString = ''" #option>
              <mat-option *ngFor="let id of externalIds" [value]="id.id">
                {{id.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>{{'' | translate}}</mat-label>
            <input matInput [disabled]="idType[1] == null || option.value === '-'" (keyup)="idString = input.value" #input>
          </mat-form-field>
        </div>
        
        <div *ngIf="!canGenerate">
          <p>
            ERROR: please select a valid group
          </p>
        </div>
        <div mat-dialog-actions style="margin-top: 10%;">
            <button matStepperPrevious mat-raised-button class="submitBreak" (click)="toSecondStep()">
              back{{'' | translate}}
            </button>
            <button
              matStepperPrevious
              mat-raised-button
              class="submit"
              type="submit"
              [disabled]="idType[0] == null"
              (click)="addId(); toSecondStep()"
            >
              {{'button_save_new_id' | translate}}
            </button>
        </div>
    </mat-step>
  </mat-stepper>
</div>