<button class="close" mat-button (click)="onClose()">&times;</button>
<div mat-dialog-content>
<mat-stepper [linear]="isLinear" id="stepper" #stepper>
    <mat-step completed="false">
      <div class="stepper-content">
        <ng-template matStepLabel>{{'associatedIdsDialog.group_selection_label' | translate}}</ng-template>
        <h4>
          {{'associatedIdsDialog.group_selection_heading' | translate}}
        </h4>
        <ng-container *ngIf="data.patient.associatedIdGroups.length <= 4">
          <mat-radio-group
            style="padding-top: 20px;"
            class="groups-radio-group"
            [(ngModel)]="dataModel"
            #radioGroup>
            <mat-radio-button class="groups-radio-button" *ngFor="let group of data.patient.associatedIdGroups" [value]="group">
              {{group.name}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
        <ng-container *ngIf="data.patient.associatedIdGroups.length > 4">
          <mat-form-field appearance="fill">
            <mat-select (selectionChange)="dataModel = $event.value">
              <mat-option *ngFor="let group of data.patient.associatedIdGroups" [value]="group">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
      <div class="stepper-action">
        <div class="left-section"></div>
        <div class="right-section">
        <button
          mat-raised-button
          class="submit"
          id="actionButton"
          [disabled]="dataModel == undefined"
          (click)="stepper.reset(); setupTable(); toSecondStep(); stepper.selected!.completed = true; this.stepper.next();">
          {{'button_next' | translate}}
        </button>
        </div>

      </div>
    </mat-step>
    <mat-step completed="false">
      <div class="stepper-content">
        <ng-template matStepLabel>{{'associatedIdsDialog.group_ids_label' | translate}}</ng-template>
        <associated-ids-table *ngIf="step == 1" [data]="tableData">
        </associated-ids-table>
      </div>
      <div class="stepper-action">
        <div class="left-section">
            <button
              mat-raised-button
              id="backButton"
              (click)="step = 0; this.stepper.previous(); stepper.selected!.completed = false;"
            >
            {{'button_back' | translate}}
            </button>
        </div>
        <div class="right-section">
            <button
              mat-raised-button
              class="submit"
              id="newEntry"
              (click)="step = 2; generate(); stepper.selected!.completed = true; this.stepper.next();"
            >
            {{'button_new_entry' | translate}}
            </button>
        </div>
      </div>
    </mat-step>
    <mat-step completed="false">
      <div>
        <ng-template matStepLabel>{{'associatedIdsDialog.edit_entry_label' | translate}}</ng-template>
        <ng-container *ngIf="canGenerate">
          <div class="stepper-content">
            <form #intIdsForm="ngForm" style="margin-left: 5%;">
            <div ngModelGroup="internalIds"
         #internalIdModelGroup="ngModelGroup">
              <h4>{{'associatedIdsDialog.edit_entry_int_id_heading' | translate}}</h4>
              <mat-form-field color="primary" style="width: 76.5%">
                <mat-label>{{'associatedIdsDialog.edit_entry_int_id_label' | translate}}</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection"
                               name="internalIdTypesChipList"
                               [ngModel]="selectedInternalIds">
                  <mat-chip *ngFor="let id of selectedInternalIds"
                            [selectable]="true"
                            [removable]="true"
                            (removed)="removeInternalId(id)">
                    {{id.name}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input [formControl]="chipListInputCtrl"
                         [matChipInputFor]="chipList"
                         [matAutocomplete]="auto"
                         [matChipInputAddOnBlur]="true"
                         (matChipInputTokenEnd)="findAndAddInternalId($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete"
                                  (optionSelected)="selectedInternalId($event)">
                  <mat-option style="height: auto" *ngFor="let id of this.filteredInternalIds | async"
                              [value]="id.id.id">
                    <div [hidden]="id.added">{{id.id.name}}</div>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          
              <!-- vorherige Implementation mit einem DropDownSelect
              <div>
                Wählen sie einen internen Id-Typen aus:
              </div>
              <mat-form-field appearance="fill">
                <mat-label>IntId{{'' | translate}}</mat-label>
                <mat-select [required]="true" (selectionChange)="idType[0] = $event;">
                  <mat-option *ngFor="let id of internalIds" [value]="id.id">
                    {{id.name}}
                  </mat-option>
                </mat-select>
                <mat-error>Error</mat-error>
              </mat-form-field>
            </div>-->

            <div>
              <h4>{{'associatedIdsDialog.edit_entry_ext_id_heading' | translate}}</h4>
              <mat-form-field appearance="fill">
                <mat-label>{{'associatedIdsDialog.edit_entry_ext_id_label' | translate}}</mat-label>
                <mat-select (selectionChange)="idType = $event; input.value = ''; idString = ''" #option>
                  <mat-option *ngFor="let id of externalIds" [value]="id.id">
                    {{id.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
              <mat-form-field appearance="fill" id="idInput">
                <mat-label>extId</mat-label>
                <input matInput [disabled]="idType == null || option.value === '-'" [required]="idType != null && option.value !== '-'" (keyup)="idString = input.value" #input>
              </mat-form-field>
            </div>
          </form>
          </div>
        
          <div class="stepper-action">
            <div class="left-section">
              <button mat-raised-button id="backButton" (click)="removeAllChips(); toSecondStep(); this.stepper.previous(); stepper.selected!.completed = false;">
                {{'button_back' | translate}}
              </button>
            </div>
            <div class="right-section">
              <button
                mat-raised-button
                class="submit"
                id="actionButton"
                [disabled]="selectedInternalIds.length == 0 || (idType != null && option.value !== '-' && idString === '')"
                (click)="addId(); step = 3; stepper.selected!.completed = true; this.stepper.next();"
              >
                {{'button_save_new_id' | translate}}
              </button>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="!canGenerate">
          <div class="stepper-content">
            <h2>{{'associatedIdsDialog.edit_entry_error' | translate}}</h2>
          </div>
          <div class="stepper-action">
            <div class="left-section">
              <button mat-raised-button id="backButton" (click)="toSecondStep(); this.stepper.previous(); stepper.selected!.completed = false;">
                {{'button_back' | translate}}
              </button>
            </div>
            <div class="right-section">
            </div>
          </div>
        </ng-container>
      </div>
    </mat-step>
    <mat-step completed="false">
      <ng-template matStepLabel>{{'associatedIdsDialog.generated_id_label' | translate}}</ng-template>
      <div class="stepper-content">
        <ng-container *ngIf="generatedId != undefined">
          <div *ngFor="let id of generatedId.idTypes" #buttonContainer>
            {{id.idType}}: {{id.idString}}
            <button mat-icon-button [cdkCopyToClipboard]="id.idString" [matTooltip]="this.translate.instant('button_copy_id_tooltip')">
              <mat-icon id="copyIcon" [ngStyle]="{'color':'#888888', 'transform':'scale(0.8)'}">file_copy</mat-icon>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="generatedId == undefined">
          <h2>{{'associatedIdsDialog.generated_id_error' | translate}}</h2>
        </ng-container>
      </div>
      <div class="stepper-action">
        <div class="left-section">
        </div>
        <div class="right-section">
            <button
              mat-raised-button
              class="submit"
              id="actionButton"
              (click)="onClose()"
            >
              {{'button_close' | translate}}
            </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>