<table mat-table id="patientlist">
  <tr id="patientenlisteHead">
    <th>
      <label class="container">
        <input disabled="disabled" type="checkbox">
        <span class="checkmark"></span>
      </label>
    </th>
    <th class="tabellenspalte">PID
      <button class="filterbutton" (click)="openfilter('pseudonymfilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Nachname
      <button class="filterbutton" (click)="openfilter('nachnamefilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Geburtsname
      <button class="filterbutton" (click)="openfilter('geburtsnamefilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Vorname
      <button class="filterbutton" (click)="openfilter('vornamefilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Geburtsdatum
      <button class="filterbutton" (click)="openfilter('geburtsdatumfilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Wohnort
      <button class="filterbutton" (click)="openfilter('wohnortfilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">PLZ
      <button class="filterbutton" (click)="openfilter('plzfilter')">
        <ion-icon name="caret-down-circle-outline"></ion-icon>
      </button>
    </th>
    <th class="tabellenspalte">Aktionen</th>
  </tr>

  <tr id="datenzeilen" *ngFor="let patient of data | async" [patient]="patient" [fields]="fields"
      (selectedP)="patientSelected($event)" app-patientrow></tr>
</table>

<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
