#patientlist {
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}

#patientlist td, #patientlist th {
  border: 1px solid #ddd;
  padding: 0 10px 0 10px;
}

#patientlist tr:nth-child(even){
  background-color: #f2f2f2;
}

#patientlist tr:hover {
  background-color: #ADDFFF;
}

#patientlist .mat-header-cell{
  background-color: #053E6A;
  color: white;
  font-size: inherit
}

#patientlist .mat-header-cell .mat-checkbox-frame {
  border-color: white;
}

#patientlist .mat-header-cell .mat-checkbox-frame.mat-checkbox-indeterminate{
  border-color: #053E6A;
}

.disabled {
  color: rgb(161, 159, 159);
}

.filterbutton{
  float: right;
  border:none!important;
  background: none;
  color: white;
}

a{
  color: black;
  text-decoration: none;
}

.custom-dialog-container .mat-dialog-container {
  width: 36em;
  height: 31em;
  padding:0px;
}

.custom-dialog-container .mat-dialog-container .mat-h3{
  margin:0px;
  padding:0px;
}

.custom-dialog-container .mat-dialog-container .mat-h3, .mat-subheading-2, .mat-typography h3 {
  margin:0px;
}
