<!--<table mat-table id="patientlist">-->
<!--  <tr id="patientenlisteHead">-->
<!--    <th>-->
<!--      <label class="container">-->
<!--        <input type="checkbox">-->
<!--        <span class="checkmark"></span>-->
<!--      </label>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">PID-->
<!--      <button class="filterbutton" (click)="openfilter('pseudonymfilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Nachname-->
<!--      <button class="filterbutton" (click)="openfilter('nachnamefilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Geburtsname-->
<!--      <button class="filterbutton" (click)="openfilter('geburtsnamefilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Vorname-->
<!--      <button class="filterbutton" (click)="openfilter('vornamefilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Geburtsdatum-->
<!--      <button class="filterbutton" (click)="openfilter('geburtsdatumfilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Wohnort-->
<!--      <button class="filterbutton" (click)="openfilter('wohnortfilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">PLZ-->
<!--      <button class="filterbutton" (click)="openfilter('plzfilter')">-->
<!--        <ion-icon name="caret-down-circle-outline"></ion-icon>-->
<!--      </button>-->
<!--    </th>-->
<!--    <th class="tabellenspalte">Aktionen</th>-->
<!--  </tr>-->

<!--  <tr id="datenzeilen" *ngFor="let patient of data | async" [patient]="patient" [fields]="fields"-->
<!--      (selectedP)="patientSelected($event)" app-patientrow></tr>-->
<!--</table>-->

<!--<mat-paginator [length]="100"-->
<!--               [pageSize]="10"-->
<!--               [pageSizeOptions]="[5, 10, 25, 100]"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->

<ng-container>
  <table id="patientlist" mat-table [dataSource]="patients" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let field of fields" matColumnDef="{{field}}">
      <th mat-header-cell *matHeaderCellDef> {{field}} </th>
      <td mat-cell *matCellDef="let element"> {{element.fields[field]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"
        (click)="selection.toggle(row)"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 aria-label="Select page">
  </mat-paginator>
</ng-container>
