<div style="display:flex; justify-content: space-between; align-items:center; margin-bottom: 8px;">
  <div style="display:flex; align-items:center;">
    <button mat-button (click)="columnFilter.open()" color="primary">
      <mat-icon matPrefix>view_column</mat-icon> {{"patientlist.button_filter_columns" | translate}}
    </button>
    <mat-form-field style="margin-bottom: -1.25em; position: absolute; padding-left: 73px; padding-top: 63px" [class.cdk-visually-hidden]="true">
      <mat-label>{{'button_filter_columns' | translate}}</mat-label>
      <mat-select [(ngModel)]="this.columns" multiple #columnFilter
                  (selectionChange)="this.selectColumns($event.value || [])">
        <mat-option *ngFor="let columnName of this.allColumnNames" [value]="columnName"
                    [ngStyle]="this.hideColumn(columnName) ? {'display':  'none' } : {}">
          {{this.getColumnDisplayText(columnName)}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>
<section class="table-container mat-elevation-z8" tabindex="0">
  <table id="patientlist" mat-table [dataSource]="patients">

<!--    <ng-container matColumnDef="select">-->
<!--      <th mat-header-cell style="width: 3%!important;"*matHeaderCellDef>-->
<!--        <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                      [checked]="selection.hasValue() && isAllSelected()"-->
<!--                      [indeterminate]="selection.hasValue() && !isAllSelected()">-->
<!--        </mat-checkbox>-->
<!--      </th>-->
<!--      <td mat-cell *matCellDef="let row">-->
<!--        <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                      (change)="selectedRow($event, row)"-->
<!--                      [checked]="selection.isSelected(row)"-->
<!--                      [disabled]="loading">-->
<!--        </mat-checkbox>-->
<!--      </td>-->
<!--    </ng-container>-->

    <ng-container *ngFor="let idType of configuredIdTypes" matColumnDef="{{idType}}" [sticky]="this.defaultIdType === idType">
      <th mat-header-cell *matHeaderCellDef style="flex-flow: row;"> {{idType}}
<!--        <button class= "filterbutton"><mat-icon matTooltip="Filter Pseudonym" style="transform: scale(0.7); float: right" (click)="openFilter(idType)">-->
<!--          arrow_circle_down</mat-icon></button>-->
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': loading}"> {{element.getIdString(idType)}} </td>
    </ng-container>

    <ng-container *ngFor="let field of fields" matColumnDef="{{field.name}}">
      <th mat-header-cell *matHeaderCellDef>{{field.i18n | translate}}
  <!--        <button class= "filterbutton">-->
  <!--          <mat-icon matTooltip="Filter" style="transform: scale(0.7); float: right;" (click)="openFilter(field)">arrow_circle_down</mat-icon>-->
  <!--        </button>-->
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': loading}"> {{element.fields[field.name]}} </td>
    </ng-container>

    <ng-container *ngIf="this.showTenantColumn()" matColumnDef="tenants">
      <th mat-header-cell *matHeaderCellDef>{{'patientlist.headers_tenants' | translate}}</th>
      <td mat-cell *matCellDef="let element" style="white-space: nowrap;"
          [ngClass]="{'disabled': loading}"> {{element.tenants?.join(", ") || ""}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 100px"> {{'patientlist.headers_actions' | translate}}
<!--        <mat-icon style="transform: scale(0.7); float: right; color:#053E6A" >-->
<!--        arrow_circle_down</mat-icon>-->
      </th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex; flex-flow: row; justify-content: space-evenly;">
          <button mat-icon-button style="background: none;border:none;" [disabled]="loading"
                  [routerLink]="['/idcard', element.ids[0].idType, element.ids[0].idString]">
              <mat-icon matTooltip="{{'button_id_card' | translate}}">fact_check</mat-icon>
          </button>
  <!--        <button mat-icon-button style="background: none;border:none;" [disabled]="loading">-->
  <!--          <a [routerLink]="['/similar-patient']" [state]="{patient: element, fields: fields}">-->
  <!--            <mat-icon matTooltip="Ähnliche Patienten">people</mat-icon>-->
  <!--          </a>-->
  <!--        </button>-->
          <button *appHasPermission="Permission.EDIT_PATIENT" mat-icon-button style="background: none;border:none;" [disabled]="loading"
            [routerLink]="['/edit-patient', element.ids[0].idType, element.ids[0].idString]">
              <mat-icon matTooltip="{{'button_edit_patient' | translate}}">edit</mat-icon>
          </button>
<!--          <ng-container *ngIf="this.consentService.isServiceEnabled()">-->
<!--            <button *appHasPermission="Permission.CREATE_CONSENT" mat-icon-button style="background: none;border:none;" [disabled]="loading"-->
<!--              [routerLink]="['/patient', element.ids[0].idType, element.ids[0].idString, 'add-consent']">-->
<!--                <mat-icon matTooltip="{{'button_add_consent' | translate}}">assignment_turned_in</mat-icon>-->
<!--            </button>-->
<!--          </ng-container>-->
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="this.columns.length"
      style="padding: 0;">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </th>
      <td mat-cell></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-header-row  style="height: 0; border: 0;" *matHeaderRowDef="['progress']"></tr>
    <tr class="mat-row"  *matNoDataRow>
      <td *ngIf="!loading" class="mat-cell" [attr.colspan]="this.columns.length" style="text-align: center">
        {{'patientlist.no_patient_found' | translate}}
      </td>
    </tr>
    <tr mat-row *matRowDef="let row; columns: columns;" (click)="selection.toggle(row)"></tr>

  </table>
</section>
