#patientlist {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 89%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

p {
  background-color: #f2f2f2;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toolbutton__icon {
  margin-right: 20px;
  background: none;
  border: none;

}

.toolbutton {
  background: none;
  border: none;
}

a {
  color: black;
  border:none;
}

button {
  background: none;
  border:none;
}

