<td>
      <label class="container">
        <input mat-checkbox class="mat-checkbox" type="checkbox" (click)="selectPatient()">
        <span class="checkmark"></span>
      </label>
</td>

<td *ngFor="let field of fields" > <input *ngIf="editMode" type="text" name="nachname" [(ngModel)]="patient.fields[field]" >  <span *ngIf="!editMode">{{patient.fields[field]}}</span></td>

<td style=" display:flex; flex-flow: row">

  <button [routerLink]="['/idcard']" styel="border:none; background:none;">
      <a><mat-icon>fact_check</mat-icon></a>
  </button>

<!--[state]="{patient: patient, fields: fields}"-->
  <button styel="border:none; background:none;">
        <mat-icon>people</mat-icon>
  </button>

  <button styel="border:none; background:none;"(click)="editPatientenZeile()" style="border:none; background: none;">
    <a styel="border:none; background:none;" [routerLink]="['/edit-patient']"><mat-icon>edit</mat-icon></a> <!-- [state]="{patient: patient, fields: fields}"-->
  </button>

  <button styel="border:none; background:none;">
        <a styel="border:none; background:none;" routerLink="/delete-patient"><mat-icon>delete</mat-icon></a> <!--[state]="{patient: patient, fields: fields}"-->
  </button>

</td>

