.mat-dialog-container{
  padding: 4px;
}


#patientlist {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 89%;
}

 td, th {
  border: 1px solid #ddd;
  padding: 10px;
}

  tr:nth-child(even){background-color: #f2f2f2;}

  tr:hover {background-color: #ddd;}

  th {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: left;
  background-color: #888888;
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 8px 8px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ffffff;
  color: black;
  padding: 5px 5px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left:15px;
  padding-right: 10px;
  padding-bottom: 20px ;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5%;
  left: 20%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: #dddddd solid thin;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #3895D0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

p{
  background-color: #f2f2f2;
  font-size: 35px;
  padding-left: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.toolbutton__icon{
  margin-right: 20px;
  background: none;
  font-size: 28px;

}

.toolbutton{
  background: none;
  width: 40px;
  height: 40px;
}
a{
  color: black;
}


.fertigButton{
  background-color: #3895D0;
  width: 90%;
  height: 95%;
  font-size: 20px;
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 35px;
}
