
<td>
      <label class="container">
        <input mat-checkbox class="mat-checkbox" type="checkbox" (click)="selectPatient()">
        <span class="checkmark"></span>
      </label>
</td>

<td><input *ngIf="editMode" type="text" name="{{patient.ids[0].idType}}" [(ngModel)]="patient.ids[0].idString" >  <span *ngIf="!editMode">{{patient.ids[0].idString}}</span></td>

<td *ngFor="let field of fields" > <input *ngIf="editMode" type="text" name="nachname" [(ngModel)]="patient.fields[field]" >  <span *ngIf="!editMode">{{patient.fields[field]}}</span></td>

<td *ngIf="!editMode">
  <button id="idCardTool" class="toolbutton">
      <a [routerLink]="['/idcard']" [state]="{patient: patient, fields: fields}" ><span class="toolbutton__icon"><ion-icon name="id-card"></ion-icon></span></a>
  </button>
  <button id="cloneButtonTool" class="toolbutton">
        <a [routerLink]="['/similar-patient']" [state]="{patient: patient, fields: fields}"><span class="toolbutton__icon"><ion-icon name="people"></ion-icon></span></a>
  </button>
  <button (click)="editPatientenZeile()" id="editButtonTool" class="toolbutton">
        <span [routerLink]="['/edit-patient']" [state]="{patient: patient, fields: fields}" class="toolbutton__icon"><ion-icon name="create"></ion-icon></span>
  </button>
  <button id="deleteButtonTool" class="toolbutton">
        <span [routerLink]="['/delete-patient']" [state]="{patient: patient, fields: fields}" class="toolbutton__icon"><ion-icon name="trash"></ion-icon></span>
  </button>
</td>
<td *ngIf="editMode">
  <button (click)="editPatientenZeile()" type="submit" class="fertigButton">
    Fertig
  </button></td>
