<div style="width: fit-content">
  <section class="table-container mat-elevation-z8" tabindex="0">
    <table id="tentatives" mat-table [dataSource]="matTableData">
      <ng-container *ngFor="let column of columns" matColumnDef="{{column.id}}">
        <ng-container [ngSwitch]="column.type">
          <ng-container *ngSwitchCase="'resolveButton'">
            <th mat-header-cell *matHeaderCellDef [rowSpan]="2"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button style="background: none;border:none;" [disabled]="true"
                      color="primary" class="ml-icon-button"
                      [routerLink]="['/resolve-unsure-match', element[column.name]]"
              >
                <mat-icon matTooltip="{{'read_tentatives.button_resolve' | translate}}">alt_route
                </mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'idCardButton'">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"
                [ngStyle]="{'background-color': element['b.isTentative'] == 'true' && column.name.startsWith('b.') ? '#ff94453d' : 'transparent'}">
              <a mat-icon-button style="background: none;border:none;" target="_blank"
                 [routerLink]="['/idcard', element[column.name+'Type'], element[column.name + 'String']]"
                 color="primary" class="ml-icon-button">
                <mat-icon matTooltip="{{column.i18n | translate}}">open_in_new</mat-icon>
              </a>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'text'">
            <th mat-header-cell *matHeaderCellDef
                [rowSpan]="column.rowSpan" [colSpan]="column.colSpan">
              {{ column.i18n ? (column.i18n | translate) : column.name }}
            </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{'disabled': loading}"
                [ngStyle]="{'background-color': element['b.isTentative'] == 'true' && column.name.startsWith('b.') ? '#ff94453d' : 'transparent'}">
              {{ this.isDateTime(element[column.name]) ? ( element[column.name] | localDateFormat : column.id == "timestamp") : element[column.name] }}
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'separator'">
            <th mat-header-cell *matHeaderCellDef [rowSpan]="2"></th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
          <ng-container *ngSwitchCase="'empty'">
            <th mat-header-cell *matHeaderCellDef style="text-align: center"
                [rowSpan]="column.rowSpan" [colSpan]="column.colSpan">
              {{ column.i18n ? (column.i18n | translate) : column.name }}
            </th>
            <td mat-cell *matCellDef="let element" style="display: none"></td>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container matColumnDef="progress" *ngIf="loading">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="this.columns.length"
            style="padding: 0; border-bottom: 0;">
          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </th>
        <td mat-cell></td>
      </ng-container>
      <tr mat-header-row style="height: 30px" *matHeaderRowDef="header1"></tr>
      <tr mat-header-row style="height: 30px; background-color: white"
          *matHeaderRowDef="header2"></tr>
      <tr mat-header-row style="height: 0; border: 0;" *matHeaderRowDef="['progress']"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td *ngIf="!loading" class="mat-cell" [attr.colspan]="this.columns.length + 4"
            style="text-align: center">
          {{ 'read_tentatives.not_item' | translate }}
        </td>
      </tr>
      <tr class="content-row" mat-row *matRowDef="let row; columns: this.getAllColumnsIds();"></tr>
    </table>
  </section>
  <mat-paginator
    [length]="this.totalNumber"
    [pageSize]="this.defaultPageSize"
    [pageSizeOptions]="[5,10,20,50,100]"
    [showFirstLastButtons]="true"
    aria-label="Select page"
    [disabled]="loading"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
