.table-container {
  max-width: 100%;
  overflow: auto;
}

#tentatives {
  width: 100%;
}

#tentatives td, #tentatives th {
  border-right: 1px solid #ddd;
  padding: 0 10px 0 10px;
}

#tentatives tr.mat-row {
  height: 38px;
}

#tentatives tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tentatives tr:hover {
  background-color: #aecbde;
}

#tentatives .mat-header-cell {
  background-color: #053E6A;
  color: white;
  font-size: inherit
}

#tentatives .mat-column-actions {
  border-right: 0
}

#tentatives .mat-header-cell .mat-checkbox-frame {
  border-color: white;
}

#tentatives .mat-header-cell .mat-checkbox-frame.mat-checkbox-indeterminate {
  border-color: #053E6A;
}

.mat-column-separator {
  width: 5px;
}

mat-paginator {
  float: right;
  margin-top: 1.5%;
  background-color: transparent;
}
