<body>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<br>
<span class="titleicon"><ion-icon name="people"></ion-icon>  Ähnliche Patienten finden</span><br><br><br>


<div id="patientendaten">
  <h2>Patientendaten</h2>
  <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields> <!--*ngFor="let fields of patient">{{fields}}: {{patient.fields[fields]}}-->
  <!--  <div id ="pDaten" *ngFor="let field of fields" class="patientendatenzeile">{{field}}: {{patient.fields[field]}}</div>-->
</div>

<div id="pseudonyme">
  <h2>Pseudonyme</h2>
  <app-patient-pseudonyms [readOnly]=true></app-patient-pseudonyms>
</div>

<div id="historie">
  <h2>Ähnliche Patienten</h2>
</div>
</body>
