<div style="width: 100%; height: 100%">
  <br>
  <p class="titleicon">
    <ion-icon name="people"></ion-icon>
    Ähnliche Patienten finden
  </p>
  <br>

<div  style=" background-color:white; margin-top:0.5%; flex: 1 1 60%; display: flex; flex-flow: row; justify-content: space-around; align-items: stretch; justify-content: space-around; gap: 0 1%">
  <mat-card id="patientendaten" style="background-color: #f2f2f2; color:black; flex: 1 1 25%; display: flex;  flex-flow: column">
    <mat-card-title>Patientendaten</mat-card-title>
    <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields>
  </mat-card>

  <mat-card id="pseudonyme" style="margin-right:7%; background-color: #f2f2f2; color:black; flex: 1 1 25%; display: flex;  flex-flow: column">
    <mat-card-title>Pseudonyme</mat-card-title>
    <app-patient-pseudonyms [readOnly]=true [pseudonyms]="patient.ids"></app-patient-pseudonyms>
  </mat-card>
</div>

  <mat-card id="historie" style="background-color: #f2f2f2; color:black; flex: 1 1 80%; display: flex;  flex-flow: column">

    <mat-card-header style="width:100%; padding:1%; background-color: #E6B0AA; font-size: 26px; color: white">
      Function in Progress..
    </mat-card-header>

    <mat-card-title>Ähnliche Patienten</mat-card-title>
    <mat-form-field class="historieInput" hideRequiredMarker>
      <mat-label>Ähnliche Patienten</mat-label>
      <input disabled="disabled" style="height: 200px" matInput placeholder="Ähnliche Patienten">
    </mat-form-field>
  </mat-card>
</div>
