#idGenerators {
  width: 100%;
}

.idgenerator-row:hover {
  background-color: #dddddd;
}

.disabled {
  color: rgb(161, 159, 159);
}
mat-paginator{
  float:right;
  margin-top: 1.5%;
  background-color: transparent;
}

.mat-basic-chip-status {
  display: inline-flex;
  padding: 7px 10px;
  border-radius: 6px;
  align-items: center;
  min-height: 22px;
  height: 1px;
  background-color: #e0e0e0;
  color: #000000de;
  box-sizing: border-box;
  min-width: 100px;
  justify-content: center;
}

.mat-basic-chip-status#active {
  background-color: #cdfbd4;
}

.mat-basic-chip-status#draft {
  background-color: #fdf6d2;
}

.mat-column-idType {
  width: 150px;
  text-align: left;
}

.mat-column-idgenerator {
  width: 150px;
  text-align: left;
}

.mat-column-actions {
  text-align: right;
}
