#idGenerators {
  width: 100%;
}

.idgenerator-row:hover {
  background-color: #dddddd;
}

.disabled {
  color: rgb(161, 159, 159);
}

mat-paginator{
  float:right;
  margin-top: 1.5%;
  background-color: transparent;
}

.mat-column-idType {
  width: 150px;
  text-align: left;
}

.mat-column-idgenerator {
  width: 150px;
  text-align: left;
}

.mat-column-actions {
  text-align: right;
}
