div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#UserIcon {
  font-size: 40px;
  color:#494949;
  padding-right: 3%;
}

span {
  color: #494949;
  font-family: Tahoma;
  font-size: 16px;
}
