<h1 mat-dialog-title>{{'consentDialog.title_consent' | translate}}</h1>
<form #consentForm="ngForm">
  <div mat-dialog-content>
    <app-consent-detail [(consent)]="dataModel.consent" [templates]="dataModel.templates"></app-consent-detail>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="submitBreak" (click)="onCancel()">{{'button_cancel' | translate}}</button>
    <button mat-raised-button class="submit"  type="submit" (click)="onSave()"
            [disabled]="!dataModel.consent || !consentForm.form.valid">{{(dataModel.isSaveButton?'button_save':'button_publish') | translate}}
    </button>
  </div>
</form>
