<h1 mat-dialog-title *ngIf="!dataModel.readonly">{{'consentDialog.title_consent' | translate}}</h1>
<app-error-card [(messages)]="errorMessages"></app-error-card>
<form #consentForm="ngForm">
  <div mat-dialog-content>
    <app-consent-detail [(consent)]="dataModel.consent"
                        [templates]="dataModel.templates"
                        [readOnly]="dataModel.readonly"
                        [edit]="dataModel.edit"
                        [(errorMessages)]="errorMessages"
    ></app-consent-detail>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="submitBreak" (click)="onCancel()">{{(!dataModel.readonly ? 'button_cancel':'button_close') | translate}}</button>
    <button *ngIf="!dataModel.readonly" mat-raised-button class="submit"  type="submit" (click)="onSave()"
            [disabled]="!dataModel.consent || !consentForm.form.valid || inProgress">
      {{(dataModel.isSaveButton?'button_save':'button_publish') | translate}}
      <mat-icon *ngIf="inProgress"><mat-spinner diameter="20"></mat-spinner></mat-icon>
    </button>
  </div>
</form>
