<div style="width: 100%; height: 100%">
  <h1 class="title">
    <mat-icon style="transform: scale(1.3); margin-right: 0.5em;">edit</mat-icon>
    Patient Editieren
  </h1>

  <app-patient-fields [readOnly]=false (fieldEvent)="fieldsChanged($event)" [fields]="patient.fields"></app-patient-fields>
  <br>
  <div style="margin-left: 5%; ">
    <button mat-raised-button style="width: 200px; margin-right: 15px;" class="submit" [routerLink]="['/patientlist']">Fertig</button>
    <button mat-raised-button style="width: 200px" class="submitBreak" [routerLink]="['/patientlist']">Abbruch</button>
  </div>
</div>
