.titleicon{
  margin-left: 3%;
  font-family: Arial;
  margin-top: 2.5%;
  margin-bottom: 1%;
}

#patientendaten{
  margin-left: 2%;
  width: 30%;
}

#pseudonyme{
  width: 30%;
}

.historieInput{
  width: 95%;
  margin: 0% 2% ;
  color: black;
  height: 20%;
  margin-bottom: 5%;
}

#historie{
  width: 91%;
  margin-bottom: 10%;
  margin-top: 1%;
  margin-left: 2%;
  padding-bottom: 2%;
}

.EditPageButtonFertig {
  background-color: #ADDFFF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 8%;
  font-family: Arial;

}


.EditPageButtonAbbruch {
  background-color: #888888;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  position: absolute;
  left: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 8%;
  font-family: Arial;
}

.IDCardAnsichtButton {
  float:right;
  margin-right: 5%;
  font-family: Arial;
}

mat-card-title{
  transform: scale(0.7);
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial;
}

.IDCardButtons{
  background-color: #ADDFFF;
  color:white;
  margin-bottom: 1%;
  float: right;
  margin-right: 2rem;
  margin-left:1.51rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
