.titleicon{
  margin-left: 3%;
  font-family: Arial;
  margin-top: 2.5%;
  margin-bottom: 1%;
}

#patientendaten{
  margin-left: 2%;
  width: 30%;
  background-color: white;
  border:#f2f2f2;
}

#pseudonyme{
  width: 30%;
  background-color: white;
  border:#f2f2f2;
}


.EditPageButtonFertig {
  background-color: #25a244;
  color: white;
  position: absolute;
  left: 75%;
  width: 8%;

}


.EditPageButtonAbbruch {
  background-color: #888888;
  color: white;
  position: absolute;
  left: 75%;
  width: 8%;
}

.IDCardAnsichtButton {
  float:right;
  margin-right: 5%;
}

mat-card-title{
  transform: scale(0.9);
  padding-top: 1%;
  padding-bottom: 2%;
  font-family: Arial;
}

.IDCardButtons{
  background-color: #ADDFFF;
  color:white;
  margin-bottom: 1%;
  float: right;
  margin-right: 2rem;
  margin-left:1.51rem;

}
