mat-form-field.templateInputField {
  width: 60%;
  padding-bottom: 0;
  margin: 0 0 -1.25em 0;
  clear: both;
  float: left;
}
mat-form-field.templateVersion
{
  width: 14%;
  margin-left: 1%;
  padding-bottom: 0;
  float: left;
  clear: none;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field.templateInputFieldDisabled .mat-form-field-outline
{
  color: rgba(0,0,0,.12);
  cursor: pointer;
}
