mat-form-field.templateInputField {
  width: 60%;
  padding-bottom: 10px;
  clear: both;
  float: left;
}
mat-form-field.templateVersion
{
  width: 14%;
  margin-left: 1%;
  float: left;
  clear: none;
}
.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field.templateInputFieldDisabled .mat-form-field-outline
{
  color: rgba(0,0,0,.12);
  cursor: pointer;
}
