<div ngModelGroup="consentTemplateDetails">
  <!-- Name -->
  <mat-form-field [class]="getFieldClass('templateInputField')"
                  [ngStyle]="{'width': '45%', 'margin-bottom': displayError(name) ? '0.25em' : '-1.25em' }">
    <mat-label>{{"consent_template.name" | translate}}</mat-label>
    <input pattern="[A-Za-z\d\-_\.$#]{1,255}" matInput placeholder=""
           [(ngModel)]="this.template.name"
           [readonly]="this.readonly"
           [name]="'name'" #name="ngModel" required="true">
    <mat-error *ngIf="displayError(name)">
      {{ getFieldErrorMessage("name", name.errors) }}
    </mat-error>
  </mat-form-field>

  <!-- Version-->
  <mat-form-field [class]="getFieldClass('templateVersion')"
                  [ngStyle]="{'margin-bottom': displayError(version) ? '0.65em' : '-1.25em' }">
    <mat-label>{{'consent_template.version' | translate}}</mat-label>
    <input pattern="[A-Za-z\d\-_\.]{1,255}" matInput placeholder=""
           [(ngModel)]="this.template.version"
           [readonly]="this.readonly"
           [disabled]="this.readonly && (!this.template.version || this.template.version.length > 0)"
           [name]="'version'" #version="ngModel">
    <mat-error *ngIf="displayError(version)">
      {{ getFieldErrorMessage("version", version.errors) }}
    </mat-error>
  </mat-form-field>

  <!-- Title-->
  <mat-form-field [class]="getFieldClass('templateInputField')"
                  [ngStyle]="{'margin-bottom': displayError(title) ? '0.25em' : '-1.25em' }">
    <mat-label>{{'consent_template.title' | translate}}</mat-label>
    <input matInput placeholder=""
           [(ngModel)]="this.template.title"
           [readonly]="this.readonly"
           [name]="'title'" #title="ngModel" required="true">
    <mat-error *ngIf="displayError(title)">
      {{ getFieldErrorMessage("title", title.errors) }}
    </mat-error>
  </mat-form-field>

  <!-- Organization-->
  <mat-form-field [class]="getFieldClass('templateInputField')"
                  [ngStyle]="{'margin-bottom': displayError(organization) ? '0.25em' : '-1.25em' }">
    <mat-label>{{'consent_template.organization' | translate}}</mat-label>
    <input matInput placeholder=""
           [(ngModel)]="this.template.organization"
           [readonly]="this.readonly"
           [disabled]="this.readonly && (!this.template.organization || this.template.organization.length > 0)"
           [name]="'organization'" #organization="ngModel">
  </mat-form-field>

<!--  &lt;!&ndash; ResearchStudy&ndash;&gt;-->
<!--  <mat-form-field [class]="getFieldClass('templateInputField')"-->
<!--                  [ngStyle]="{'margin-bottom': displayError(title) ? '0.25em' : '-1.25em' }">-->
<!--    <mat-label>{{'consent_template.research_study' | translate}}</mat-label>-->
<!--    <input matInput placeholder=""-->
<!--           [(ngModel)]="this.template.researchStudy"
           [readonly]="this.readonly"
           [disabled]="this.readonly && (!this.template.researchStudy || this.template.researchStudy.length > 0)"
           [name]="'researchStudy'" #researchStudy="ngModel">-->
<!--  </mat-form-field>-->

  <!-- Validity-->
  <mat-form-field [class]="getFieldClass('templateInputField')"
                  [ngStyle]="{'margin-bottom': displayError(validityPeriod) ? '0.25em' : '-1.25em' }">
    <mat-label>{{'consent_template.validityPeriod' | translate}}</mat-label>
    <input matInput style="width: 90%; "
           [ngModel]="this.template.validity.toLocalText(this.translate)"
           [appEmptyConsentTemplateValidityPeriod]="this.template.validity"
           [readonly]="true" [required]="true" [name]="'validityPeriod'" #validityPeriod="ngModel">
    <mat-error *ngIf="displayError(validityPeriod)">
      {{ getFieldErrorMessage("validityPeriod", validityPeriod.errors) }}
    </mat-error>
    <button *ngIf="!readonly" mat-icon-button matSuffix (click)="openValidityPeriodDialog()" [name]="'validityPeriodEditButton'">
      <mat-icon id="editIcon" [ngStyle]="{'transform':'scale(0.8)'}">edit</mat-icon>
    </button>
  </mat-form-field>

  <!-- MII Conform Toggle-->
  <mat-slide-toggle color="primary" (change)="this.isMiiFhirChanged($event)" [disabled]="readonly"
                    style="clear: both; float:left; margin-top: 20px; margin-bottom: 1.25em" [(ngModel)]="this.template.isMiiFhirConsentConform" [name]="'isMiiFhir'">
    {{'consent_template.based_on_mii_broad_consent' | translate}}
  </mat-slide-toggle>
  <mat-form-field style="clear:both; float: left; width: 300px; padding-bottom: 0; margin: 0 0 -1.25em;"
                  *ngIf="this.template.isMiiFhirConsentConform">
    <mat-label>{{'consent_template.mii_broad_consent_version' | translate}}</mat-label>
    <mat-select [(ngModel)]="this.template.policy" required="true" [name]="'miiFhirVersion'" [disabled]="readonly">
      <mat-option *ngFor="let version of this.configService.getConsentTerminology().miiBroadConsentVersions"
                  value="{{version.code}}">{{version.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Opt-In/out -->
  <div style="clear: both; float: left; margin-top: 20px; margin-bottom: 1.25em;">
    <label id="opt-radio-group-label"><h4>{{"consent_template.consent_model" | translate}}</h4></label>
    <mat-radio-group aria-labelledby="opt-radio-group-label" color="primary"
                     [(ngModel)]="this.template.consentModel" [name]="'optIn'"
                     [disabled]="readonly || disableConsentModel()"
                     (change)="this.consentModelChanged($event)">
      <mat-radio-button [value]="true">Opt-In</mat-radio-button>
      <mat-radio-button [value]="false">Opt-Out</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Modules -->
  <h3 style="margin-top: 20px; clear:both; float: left;">{{"consent_template.modules" | translate}}:</h3>

  <!-- modules -->
  <app-consent-template-modules [templateModules]="this.template.items"
                                [readonly]="readonly"
                                [mainValidityPeriod]="this.template.validity"
  >
  </app-consent-template-modules>

  <!-- add module -->
  <div *ngIf="!readonly"  [ngStyle]="{ 'margin-top': this.template.items.length == 0 ? '5px':'20px'}"
    style="clear:both; float: left; width: 300px; margin-bottom: 40px; display: flex; flex-wrap: nowrap;"
  >
    <mat-form-field class="templateInputField">
      <mat-label>{{'consent_template.module_type' | translate}}</mat-label>
      <mat-select required="false" [(value)]="selectedModuleType">
        <mat-option *ngFor="let moduleType of this.moduleTypes"
                    [value]="moduleType.type">{{moduleType.i18n | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary"
            [matTooltip]="'consent_template.add_module' | translate"
            (click)="this.createModule(selectedModuleType)"
            style="margin-top: 9px; margin-left: 8px">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
