.edit-module-button {
  height: 20px;
  width: 20px;
  line-height: 20px;
}
.module-mat-form-field-textarea {
  width: 100%;
  padding-bottom: 0;
  margin: 0 0 -1.25em;
}

.module-header {
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
}
.module-header.mat-card-header-text {
  width: 100%
}

mat-form-field.templateInputField {
  width: 60%;
  padding-bottom: 0;
  margin: 0 0 -1.25em;
  clear: both;
  float:left;
}

.policiesTable {
  width: 100%
}
.policiesTable tr.mat-row {
  height: 38px;
}

.policiesTable tr.mat-header-row {
  height: 40px;
}

.policiesTable td {
  text-align: center;
  max-height: 450px;
}

.policiesTable .mat-column-actions {
  width: 105px;
  text-align: right;
}

.policiesTable th {
  text-align: center;
  padding: 0 10px;
}
