<h1 mat-dialog-title>{{'consent_template.validityPeriod' | translate}}</h1>
<div mat-dialog-content>
  <br />
        <mat-form-field
          [ngStyle]="{'clear': 'both', 'float': 'left', 'margin-bottom': displayError(year) ? '1.25em' : '-1.25em' }">
          <mat-label>{{"consent_template.validity_year" | translate}}</mat-label>
          <input matInput pattern="\d*" type="number" min="0" placeholder=""
                 [(ngModel)]="this.validityPeriod.year" [name]="'year'" #year="ngModel">
          <mat-error *ngIf="displayError(year)">{{getFieldErrorMessage("validity_year", year.errors)}}</mat-error>
        </mat-form-field>
        <mat-form-field style="float: left; width: 100px; margin-left: 15px">
          <mat-label>{{"consent_template.validity_month" | translate}}</mat-label>
          <mat-select [(value)]="this.validityPeriod.month">
            <mat-option *ngFor="let i of validityMonths" value="{{i}}">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style=" float: left; width: 70px; margin-left: 15px">
          <mat-label>{{"consent_template.validity_day" | translate}}</mat-label>
          <mat-select [(value)]="this.validityPeriod.day">
            <mat-option *ngFor="let i of validityDays" value="{{i}}">{{i}}</mat-option>
          </mat-select>
        </mat-form-field>
</div>
<div mat-dialog-actions style="margin-top: 3%;">
  <button mat-raised-button class="submitBreak" (click)="onCancel()">
    {{'button_cancel' | translate}}
  </button>
  <button
    mat-raised-button
    class="submit"
    type="submit"
    (click)="onSave()"
    [disabled]="(!validityPeriod.year || validityPeriod.year <= 0) &&
    (!validityPeriod.month || validityPeriod.month == 0) &&
    (!validityPeriod.day || validityPeriod.day == 0)"
  >
    {{'button_save' | translate}}
  </button>
</div>

