button {
    border: 1px solid grey;
}

#back {
    width: 75px;
    color: #646464;
    border-color: #646464;
}

#downloadFile {
    margin-left: 10px;
    width: 187px;
    color: #0b1ece;
    border-color: #0b1ece;
}

#generateId {
    margin-left: 10px;
    width: 160px;
    color: #0b1ece;
    border-color: #0b1ece;
}

#generateId[disabled] {
    color: #b4b4b4;
    border-color: #b4b4b4;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none;

}

::ng-deep .mat-horizontal-stepper-header[aria-selected="true"] {
    background-color: #FAFAFA;
}

#stepper {
    width: 1200px;
    margin: 0 auto;
    background-color: #FAFAFA;
}

.float-table {
    width: 700px;
    padding: 40px;
    float: left;
}

.float-content {
    width: 280px;
    padding: 40px;
    float: left;
}