
::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none;

}

::ng-deep .mat-horizontal-stepper-header[aria-selected="true"] {
    background-color: #FAFAFA;
}

#stepper {
    width: 1200px;
    /*margin: 0 auto;*/
    background-color: #FAFAFA;
}

.float-table {
    width: 700px;
    padding: 40px;
    float: left;
}

.float-content {
    width: 280px;
    padding: 40px;
    float: left;
}
