button {
    border: 1px solid grey;
}

#reset {
    margin-left: 1%;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

#stepper {
    width: 1400px;
    margin: 0 auto;
    background-color: #FAFAFA;
}