<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<nav mat-sidenav-container>
  <table>
    <tr>
      <td id="nav_home">
        <a routerLink="/home"><ion-icon name="home-sharp"></ion-icon>Home</a>
      </td>
    </tr>
    <tr>
      <td class="nav_item"><a routerLink="/create-patient"><ion-icon name="person-add-sharp"></ion-icon>PID anfordern</a>
      </td>
    </tr>
    <tr>
      <td class="nav_item"><a routerLink="/patientlist-view"><ion-icon name="list-sharp"></ion-icon>Patientenliste</a>
      </td>
    </tr>
    <tr>
      <td class="nav_item"><a onclick="chBackground()" routerLink="/audittrail"><ion-icon name="document-text-sharp"></ion-icon>Audit-Trail</a></td>
    </tr>
  </table>
</nav>
