nav{
  background-color: #053E6A;
  height:100%;
  box-shadow:1px 10px 10px rgba(0,0,0,.4);
  padding:1em;
}

a{
  color: white;
  text-decoration: none;
  font-family: Helvetica;
  float:left;
  padding-left: 0.5em;
  transform: scale(0.9);
}

td{
  padding-top: 1em;
  padding-bottom:1em;
}

.nav_icon{
  margin-right: 0.5em;
}


