nav{
  background-color: #284B63;
  float: left;
  height: 100%;
  width: 250px;
  box-shadow:1px 10px 10px rgba(0,0,0,.4);

}

a{
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: Verdana;
  float:left;
  padding-left: 1em;

}

ion-icon{
  padding-right: 30px;
  font-size: 25px;

}

td{
  padding-top: 2em;
  padding-bottom:2em;
  width:100%;

}

.nav_item{
  float:left;

}

.nav_item.active {
}
.nav_item:hover{

}table{
  width: 100%;
  float:left;
 }

