<button mat-button [routerLink]="['/patientlist']" class="sidenav-menu-item">
  <mat-icon>list</mat-icon>
  <span>Patientenliste</span>
</button>
<button mat-button [routerLink]="['/add-new-patient']" class="sidenav-menu-item">
  <mat-icon>person_add_alt</mat-icon>
  <span>Neuer Patient</span>
</button>
<button mat-button [routerLink]="['/projekt-id']" class="sidenav-menu-item">
  <mat-icon>autorenew</mat-icon>
  <span>Projekt Id</span>
</button>
<!--<button mat-button [routerLink]="['/audittrail']" class="sidenav-menu-item">-->
<!--  <mat-icon>list_alt</mat-icon>-->
<!--  <span>Audit-Trail</span>-->
<!--</button>-->
<button mat-button [routerLink]="['/info']" class="sidenav-menu-item">
  <mat-icon>info</mat-icon>
  <span>Info</span>
</button>
