<div style="height: 100%; min-height: 10em; width: 100%;display: flex;
flex-flow: column;">
  <mat-tab-group id="configurationTabs">
    <mat-tab *appHasPermission="Permission.EDIT_CONFIGURATION"
             label="{{'configuration.tab_idGenerator' | translate}}">
      <ng-template matTabContent>
        <app-id-generators></app-id-generators>
      </ng-template>
    </mat-tab>
    <mat-tab *appHasPermission="Permission.READ_CONSENT_POLICY_SET"
             label="{{'configuration.tab_policies' | translate}}">
      <ng-template matTabContent>
        <app-policies></app-policies>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
