<form #patientForm="ngForm">
    <div style="height:100%; width:100%" class="cards">

        <!--PATIENTENDATEN1-->
        <mat-card class="patient1" style="width: 28%">
            <span class="top">
                <mat-card-title class="title">Patientendaten 1</mat-card-title>
                <mat-card-subtitle>
                    <input type='radio' name='test' id="patient1" value='1' (click)="setMainPatient(1)" checked>
                    <label for="patient1">Haupt-Patient</label>
                </mat-card-subtitle>
                <div class="pseudonyme">
                    <mat-card-title class="subtitle">Pseudonyme</mat-card-title>
                    <div style="flex-flow: row">
                        <app-patient-pseudonyms style="width: 90%" [readOnly]=true [ids]="patient1?.ids ?? []"
                            [permittedOperation]="'R'"></app-patient-pseudonyms>
                    </div>
                </div>
            </span>
            <div class="patientendaten">
                <mat-card-title class="subtitle">Patientendaten</mat-card-title>
                <app-patient-fields [readOnly]=true [fields]="patient1?.fields ?? {}" [uniqueId]="'1'"></app-patient-fields>
            </div>
        </mat-card>

        <div class="buttons">
            <div class="iconbutton">
                <button mat-raised-button class="submit" type="submit" style="clear: both;">
                    <mat-icon matTooltip="Merge these Patients">call_merge</mat-icon> Merge
                </button>
            </div>

            <div class="iconbutton">
                <button mat-raised-button class="submit" type="submit" style="clear: both;">
                    <mat-icon matTooltip="Split these Patients"><svg xmlns="http://www.w3.org/2000/svg"
                            style="rotate: -90deg;" height="24px" viewBox="0 -960 960 960" width="24px" fill="#294E66">
                            <path
                                d="M160-440v-80h304l200-200H560v-80h240v240h-80v-104L496-440H160Zm400 280v-80h104L536-366l58-58 126 128v-104h80v240H560Z" />
                        </svg>
                    </mat-icon> Split
                </button>
            </div>
        </div>



        <!--PATIENTENDATEN2-->

        <mat-card class="patient2" style="width: 28%">
            <span class="top">
                <mat-card-title class="title">Patientendaten 2</mat-card-title>
                <mat-card-subtitle>
                    <input type='radio' name='test' id="patient2" value='2' (click)="setMainPatient(2)">
                    <label for="patient2">Haupt-Patient</label>
                </mat-card-subtitle>
                <div class="pseudonyme">
                    <mat-card-title class="subtitle">Pseudonyme</mat-card-title>
                    <!-- TODO: justify-content to flex-end-->
                    <div
                        style="flex: 1 1 100%; display: flex; flex-flow: column; justify-content: flex-end; flow:right;">
                        <app-patient-pseudonyms [readOnly]=true [ids]="patient2?.ids ?? []"
                            [permittedOperation]="'R'"></app-patient-pseudonyms>
                        <!-- style="width:160%;"-->
                    </div>
                </div>
            </span>
            <div class="patientendaten">
                <mat-card-title class="subtitle">Patientendaten</mat-card-title>
                <app-patient-fields [readOnly]=true [fields]="patient2?.fields ?? {}" [uniqueId]="'2'"></app-patient-fields>
            </div>
        </mat-card>

    </div>
</form>
