<div style="height: 100%; min-height: 10em; width: 100%;padding-bottom: 10%; padding-top: 3%">

    <mat-form-field color="primary"  id="filterBoard" appearance="fill">
      <mat-label>Filter/Suche...</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let fruit of filters"
                  [selectable]="selectable"
                  [removable]="removable" (removed)="remove(fruit)" style="font-family: Tahoma;">
          {{fruit.field}}: {{fruit.searchCriteria}}
          <mat-icon matChipRemove *ngIf="removable" style="color:#494949">cancel</mat-icon>
        </mat-chip>
        <input #fruitInput
               [(ngModel)]="filterEingabe"
               placeholder="Search..."
               [matChipInputFor]="chipList"
               [formControl]="filterCtrl"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matAutocomplete]="auto"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option style="height: auto" *ngFor="let field of allFieldsToSearch" [value]="{field:field,searchCriteria:filterEingabe}">
          <div style="font-weight: bold">{{field}}:</div><div style="text-indent: 2%;">{{filterEingabe}}</div>
<!--
          <hr color="#888888" style=" width: 100%; justify-content: flex-start; justify-self: flex-start; justify-items: flex-start; text-align: left">
-->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>
      <br>
      <button mat-raised-button matBadgeColor="accent"
              disabled="disabled"> <mat-icon>grid_view</mat-icon> Projekt Erstellen
      </button>
      <button mat-raised-button matBadgeColor="accent" [routerLink]="['/patienten-zusammenfuehren']"
              [state]="{patients: selectedPatients}"
              [disabled]="selectedPatients.length!=2"
              [matBadge]="selectedPatients.length"
              [matBadgeHidden]="selectedPatients.length<1">
        <mat-icon>merge_type</mat-icon>
        Zusammenführen
      </button>

      <button mat-raised-button matBadgeColor="accent" [routerLink]="['/patienten-loeschen']"
              [state]="{patients: selectedPatients}"
              [disabled]="selectedPatients.length<2"
              [matBadge]="selectedPatients.length"
              [matBadgeHidden]="selectedPatients.length<1">
        <mat-icon>delete_outline</mat-icon> Löschen

      </button>

    </div>

    <br><br>
  <app-patientlist [patients]="patientService.patientsDataSource" (selectedPatients)="patientSelected($event)"></app-patientlist>

</div>
