.mat-raised-button{
  background-color: #ADDFFF;
  color:#294E66;
  margin-bottom: 1%;
  float: right;
  margin-right: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-raised-button[disabled]{
  background-color: lightgray;
}

h1{
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: "Arial";
}

.mat-chip.mat-standard-chip{
  background-color: #ADDFFF;
  color:#294E66;
  border-radius: 0px;
}

#filterBoard{
  font-size: large;
  width:96%;
  margin-right: 2%;
  margin-left: 2%;
}

/*following: CSS-Design of all Inputs (specially for Search/FilterInput in Patientlist-ViewComponent, Patient-FieldsComponent and Patient-PseudonymComponent) */
::ng-deep #filterBoard .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}
::ng-deep #filterBoard .mat-form-field-underline {
  bottom: 0.4em;
}
::ng-deep #filterBoard.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: .25em 0 .25em 0;
}
::ng-deep #filterBoard.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  -webkit-box-shadow: inset 1.5px 1px 2px -0.5px #757575;
  /*-webkit-box-shadow: inset 3px 3px 4px -2px #757575;*/
  /*box-shadow: inset 3px 3px 4px -2px #757575;*/
  border-right: 1px solid #757575;
}

mat-paginator{
  float:right;
  margin-top: 1.5%;
  margin-right: 1.5%;
  background-color: transparent;
}
