
<p id="title"><b>Die Mainzelliste</b></p>
<p><b>Pseudonymisierung und Identitaetsmanagement</b></p>

<div id="hinweise">
Hinweise zur Eingabe
  <br><br>

Diese Anwendung gibt für die von Ihnen im Folgenden einzugebenden Stammdaten einen Personenidentifikator (PID) zurueck.
Dabei wird der bekannte Patientenbestand durchsucht; bei einem Treffer wird der bestehende PID zurueckgegeben.
  <br><br>

Bitte beachten Sie bei Ihrer Eingabe die folgenden Punkte:
<br>
  <ul>
    <li>Geben Sie alle Ihnen bekannten Vornamen an, getrennt durch Leerzeichen.</li>
    <li>Achten Sie bei Doppelnamen darauf, ob sie mit Bindestrich oder zusammen geschrieben werden (z.B. „Annalena“ oder „Anna-Lena“).</li>
    <li>Geben Sie den Geburtsnamen nur an, falls er vom aktuellen Nachnamen abweicht (z.B. Namenswechesel durch Heirat).</li>
    <li>Die mit * markierten Felder sind Pflichtfelder. </li>
  </ul>
</div>

