<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<body>
<br>
<span class="titleicon"><ion-icon name="trash"></ion-icon>  Patient löschen</span><br><br><br>

<div id="patientendaten">
  <h2>Patientendaten</h2>
  <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields> <!--*ngFor="let fields of patient">{{fields}}: {{patient.fields[fields]}}-->
  <!--  <div id ="pDaten" *ngFor="let field of fields" class="patientendatenzeile">{{field}}: {{patient.fields[field]}}</div>-->
</div>


<div id="pseudonyme">
  <h2>Pseudonyme</h2>
  <app-patient-pseudonyms [readOnly]=true></app-patient-pseudonyms>
</div>

<div>
  <p class="DeletePatientFragestellung"> Soll der folgende Patient wirklich gelöscht werden?</p>
  <br><br><br><br><br>
  <button  type="submit" (click)="deletePatientenZeile()"  class="DeletePatientButtonLöschen" [routerLink]="['/patientlist-view']">Löschen</button>
  <br><br><br><br><br>
  <button type="submit" class="DeletePatientButtonAbbruch" [routerLink]="['/patientlist-view']">Abbruch</button>
</div>
<div id="historie">
  <h2>Historie</h2>
</div>
</body>

