h2{
  font-family: Tahoma;
  font-size: 28px;
  margin-left: 5%;
  margin-top:20px;
}



.titleicon{
  padding-left: 1%;
  font-size: 35px;
  font-family: Arial;
  margin-top: 0.8%;
}

#patientendaten{
  width: 30%;
  height: 39%;
  background-color: #f1f1f1;
  border-width: 3px;
  border-radius: 5px;
  left: 0%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

#pseudonyme{
  width: 30%;
  height: 39%;
  background-color: #f1f1f1;
  border-radius: 5px;
  left: 31%;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
}

#historie{
  width: 85%;
  height: 34%;
  background-color: #f1f1f1;
  border-radius: 5px;
  top: 50%;
  left: 0px;
  position:absolute;
  margin-left:1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.DeletePatientFragestellung{
  position: absolute;
  display: inline-block;
  left: 65%;
  font-size: 22px;
  font-family: inherit;

}

.DeletePatientButtonLöschen{
  background-color: #3895D3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 39%;
  float: right!important;
}
.DeletePatientButtonAbbruch {
  background-color: #888888;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 39%;
  float: left;

}
#deletepatientbuttons{
  position: absolute;
  width: 20%;
  height: 9%;
  top: 15%;
  left: 65%;
  float: right;
}


#pDaten{
  font-size: 24px;
  line-height: 120%;
  margin-left: 5%;
  margin-top: 4%;
}

#pPseudonyme{
  font-size: 24px;
  line-height: 120%;
  margin-left: 5%;
  margin-top: 4%;
}

.patientendatenzeile .fields{
  font-family: "Arial Black";
  font-size: 10px;
}
