.titleicon{
  margin-left: 3%;
  font-family: Arial;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

#patientendaten{
  margin-left: 2%;
  width: 30%;
  background-color: white;
  border:#f2f2f2;
}

#pseudonyme{
  width: 30%;
  background-color: white;
  border:#f2f2f2;
}

.IDCardAnsichtButton {
  float:right;
  margin-right: 5%;
}

.DeletePatientFragestellung{
  font-family: Helvetica;
}

.DeletePatientButtonLöschen{
  background-color: #ADDFFF;
  color: white;
  width: 40%;
}

.DeletePatientButtonAbbruch {
  background-color: #888888;
  color:white;
  width: 40%;
}

mat-card-title{
  transform: scale(0.9);
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial;
}
