<div style="width: 100%; height: 100%">
  <br>
  <h1 class="titleicon">
    <mat-icon style="transform: scale(1.6); margin-right: 0.5em;">delete</mat-icon>
    Patient löschen
  </h1>
  <br>

  <div style=" background:none; margin-top:0.5%; flex: 1 1 70%; display: flex; flex-flow: row; justify-content: space-around; align-items: stretch; justify-content: space-around; gap: 0 1%">
    <mat-card id="patientendaten"
              style="flex: 1 1 18%; display: flex;  flex-flow: column">
      <mat-card-title>Patientendaten</mat-card-title>
      <app-patient-fields [readOnly]=true [fields]="patient.fields"></app-patient-fields>
    </mat-card>


    <mat-card id="pseudonyme"
              style="flex: 1 1 18%; display: flex;  flex-flow: column">
      <mat-card-title>Pseudonyme</mat-card-title>
      <app-patient-pseudonyms [readOnly]=true [pseudonyms]="patient.ids"></app-patient-pseudonyms>
    </mat-card>

    <div style=" flex: 1 1 12%; display: flex; flex-flow: column;background-color: white">
      <h3 class="DeletePatientFragestellung" style="margin-left:3%;"> Möchten Sie den folgenden Patient löschen? <br>Sie können die Patientendaten nichtmehr einsehen und werden vollständig gelöscht.</h3>
     <br> <br> <div style="display: flex; flex-flow: row; justify-content: space-around; gap: 0 15px">
        <button mat-raised-button type="submit" class="DeletePatientButtonAbbruch"
                [routerLink]="['/patientenliste']">
          Abbruch
        </button>
        <button mat-raised-button type="submit" (click)="deletePatientenZeile()" class="DeletePatientButtonLöschen"
                [routerLink]="['/patientenliste']">Löschen
        </button>
      </div>
    </div>
  </div>

  <app-historie></app-historie>
</div>
