.titleicon{
  margin-left: 3%;
  font-family: Arial;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

#patientendaten{
  margin-left: 2%;
  width: 30%;
}

#pseudonyme{
  width: 30%;
}

#historie{
  width: 91%;
  margin-bottom: 10%;
  margin-top: 1%;
  margin-left: 2%;
  padding-bottom: 2%;
}

.historieInput{
  width: 95%;
  margin: 0% 2% ;
  color: black;
  /*font-size: 18px;*/
  height: 20%;
  margin-bottom: 5%;
}


.IDCardAnsichtButton {
  float:right;
  margin-right: 5%;
}

.DeletePatientFragestellung{
  font-family: Helvetica;


}

.DeletePatientButtonLöschen{
  background-color: #ADDFFF;
  color: #294E66;
  font-family: Arial;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.DeletePatientButtonAbbruch {
  background-color: #888888;
  color:#f2f2f2;
  font-family: Arial;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

mat-card-title{
  transform: scale(0.7);
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial;
}
